{% extends "PDFTemplate.html" %} {% block content %}
<div class="Lab Referral Form mt-4">
  <h1 class="mt-1 text-center">Charging Form</h1>
  <div class="mt-5">
    <p class=""><b>Patient Name:</b> {{patientInfo.name}}:</p>
    <p class=""><b>Date:</b> {{date}}</p>
  </div>

  <table class="table table-bordered col-10 offset-1 mt-5 mb-5">
    <thead>
      <tr align="middle">
        <th scope="col">#</th>
        <th scope="col">Services Availed</th>
        <th scope="col">Pricing</th>
      </tr>
    </thead>
    <tbody>
      {% set subTotal = [0] %} {% for service in clinicServices %}
      <tr align="middle">
        <td scope="row">{{loop.index}}</td>
        <td>{{service.name}}</td>
        <td>&#x20B1; {{"{:,.2f}".format(service.price|float)}}</td>
      </tr>
      {% set _ = subTotal.append(subTotal.pop() + service.price|int) %} {%
      endfor %}
      <tr>
        <td></td>
        <td></td>
        <td class="text-left ms-auto">
          <b>Sub Total: &#x20B1; {{"{:,.2f}".format(subTotal[0])}} </b>
          <br />
          <b>Professional Fee: &#x20B1;</b>
          <br />
          <b>Grand Total: &#x20B1;</b>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="mt-3">
    <p class=""><b>Doctor Name:</b> {{doctorInfo.name}}:</p>
    <p class=""><b>Financier Signature:</b></p>
  </div>
</div>
{% endblock %}
