{% extends "PDFTemplate.html" %} {% block content %}
<h1 class="text-center mb-4 mt-4">Prescription</h1>
<div class="divContainer">
  <table class="header-table table-borderless mb-3">
    <tbody>
      <tr>
        <td><b>Date of Checkup:</b> {{date}}</td>
        <td><b>Address:</b> {{patient.address}}</td>
      </tr>
      <tr>
        <td><b>Name:</b> {{patient.name}}</td>
        <td><b>Contact Number:</b> {{patient.mobile}}</td>
      </tr>
      <tr>
        <td><b>Age:</b> {{patient.age}} years old</td>
        <td><b>Diagnosis:</b> {{diagnosis}}</td>
      </tr>
    </tbody>
  </table>

  <h1><b>Rx</b></h1>
  <table class="mb-3">
    <thead align="middle">
      <th width="5%">Item no.</th>
      <th width="10%">Description</th>
      <th width="10%">Dosage</th>
      <th width="12%">Amount</th>
      <th width="10%">Frequency of Dosage</th>
      <th width="15%">Duration</th>
      <th width="30%">Instruction</th>
    </thead>

    <tbody>
      {% for medicine in prescription %}
      <tr align="middle">
        <td>{{loop.index}}</td>
        <td>{{medicine.medicineName}}</td>
        <td>{{medicine.medicineDosage}}/{{medicine.medicineMeasurement}}</td>
        <td>{{medicine.medicineAmount}}</td>
        <td>{{medicine.medicineFrequency}} x a day</td>
        <td>{{medicine.medicinePeriod}}</td>
        <td>{{medicine.medicineInstructions}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br />
  <div>
    <h5><b>Prescribed By:</b> {{doctor.name}}</h5>
    <h5><b>License #:</b> {{doctor._id}}</h5>
    <h5><b>PTR #:</b></h5>
  </div>
</div>
{% endblock %}
