{% extends "PDFTemplate.html" %} {% block content %}

<h1 class="text-center mt-5">Monthly Doctor Duty Arrival Report</h1>
<h3 class="text-center">for the month of {{month}} {{year}}</h3>

<table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th>Doctors</th>
      {% for k, v in doctorsNameList.items() %}
      <th scope="col" colspan="3">{{v}}</th>
      {% endfor %}
    </tr>
    <tr>
      <th>Date Range</th>
      {% for x in range(doctorsNameList.keys() | length) %}
      <th scope="col">Absent</th>
      <th scope="col">Late</th>
      <th scope="col">On-Time</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% set keys = doctors.keys() | list %}

    <!-- prettier-ignore  -->
    {% for header in headers %}
      {% set subTotal = [0] %}
      {% set countPerWeek = doctors[keys[loop.index0]] | list %}
      {% set idx = countPerWeek[0] | string %}
      {% set outLoopIdx = loop.index0 %}

    <tr>
      <td scope="row">{{header}}</td>
      {% set totalPerWeek = 0 %}
      <!-- prettier-ignore -->
      {% for k, v in doctors.items() %}
      {% for type, value in v.countPerWeek.items() %}

      <td>{{value[outLoopIdx]}}</td>

      {% endfor %} {% endfor %}
    </tr>
    {% endfor %}

    <tr>
      <th scope="row">Monthly Totals</th>
      {% set subTotal = [0] %} {% for id, data in doctors.items() %} {% for k, v
      in data.tally.items() %}
      <td>{{v.total}}</td>
      {% endfor %} {%endfor %}
    </tr>
  </tbody>
</table>

{% endblock %}
