{% extends "PDFTemplate.html"%} {% block content%}

<h1 class="text-center mt-5">Monthly Patient Report</h1>
<h3 class="text-center">On the month of {{month}}, {{year}}</h3>

<table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th scope="col">Date range</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <!-- {{data.dates}}  -->
    {% for item in data.dates %}
    <tr>
      <td scope="row">{{data.dateRange[loop.index0]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
      <td>{{item[5]}}</td>
      <td>{{item[6]}}</td>
      <td>{{item["total"]}}</td>

      {% endfor %}

      <!-- Total -->
    </tr>

    <tr>
      <td scope="row">Grand Total</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{data.grandTotal}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
