{% extends "base.html" %} {% block content %}
<!--chart.js-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container-fluid full-page">
  <div class="container-xl w-100 bg-white p-4">
    <div class="p-2 border border-3 border-dark d-flex align-items-center">
      <svg
        class="float-start me-3"
        xmlns="http://www.w3.org/2000/svg"
        width="60"
        height="60"
        fill="currentColor"
        class="bi bi-person-circle"
        viewBox="0 0 16 16"
      >
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path
          fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
        />
      </svg>
      <div class="row row-cols-1">
        <p class="m-0" id="name"></p>
        <p class="m-0" id="age"></p>
        <p class="m-0" id="bday"></p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6" style="min-height: 350px">
        <canvas id="BMIChart"></canvas>
      </div>

      <div class="col-6" style="min-height: 350px">
        <canvas id="RRChart"></canvas>
      </div>
    </div>

    <div class="row">
      <div class="col-6" style="min-height: 350px">
        <canvas id="BPChart"></canvas>
      </div>

      <div class="col-6" style="min-height: 350px">
        <canvas id="HRChart"></canvas>
      </div>
    </div>

    <div class="table-responsive mt-5">
      <h3>Checkup Summary</h3>
      <table class="table table-bordered col-12 mt-3">
        <thead>
          <tr>
            <th scope="col">Date of Check-up</th>
            <th scope="col">Doctor in charge</th>
            <th scope="col">Diagnosis</th>
            <th scope="col">Prescription</th>
          </tr>
        </thead>
        <tbody>
          {% for checkup in checkUps%}
          <tr>
            <!-- {{checkup}} -->
            <td>
              <a href="/emr/SOAP/{{checkup._id}}" target="_blank"
                >{{checkup.completedDate}}</a
              >
            </td>
            <td>{{checkup.doctorName}}</td>
            <td>
              {% if checkup.diagnosis %}{{checkup.diagnosis}}{% else %}{{"Not
              specified"}}{% endif %}
            </td>
            {% if checkup.plan.prescription %}
            <td>
              <a href="/emr/prescription/{{checkup._id}}" target="_blank"
                >Check prescription here</a
              >
            </td>
            {% else %}
            <td>No prescription</td>
            {% endif %}
          </tr>
          {% endfor %}
          <!-- <tr>
            <td><a href="#">19/08/2022</a></td>
            <td>Wayne Chico Amazan</td>
            <td>Morning Sickness</td>
          </tr>
          <tr>
            <td><a href="#">03/10/2022</a></td>
            <td>Wayne Chico Amazan</td>
            <td>Unusual Paleness</td>
          </tr> -->
        </tbody>
      </table>
    </div>

    <div class="row mt-5">
      <div class="text-center">
        <button
          type="button"
          class="btn btn-danger"
          onclick="location.href='/doctor/patients'"
        >
          Go back
        </button>
        <button type="button" class="btn btn-primary" id="go-to-emr">
          Start Check-Up Here
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Moment js -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>

<script src="{{url_for('doctor.static', filename='utils.js')}}"></script>
<script src="{{url_for('doctor.static', filename='patient/facesheet.js')}}"></script>

{% endblock %}
