<!-- TODO: responsiveness of site when in md size -->
<form class="IntExam" data-form-target="EMR">
  <!-- Vulva -->
  <h3 class="default-label">Vulva</h3>
  <table class="table table-borderless" id="vulva-tests-table">
    <thead>
      <tr align="middle">
        <th scope="col" width="10%">Yes</th>
        <th scope="col" width="10%">No</th>
        <th scope="col" width="50%">Condition</th>
        <th scope="col" width="35%">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="ulcerationYes"
            name="internalUlceration"
            value="yes"
            aria-label="UlcerationYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="ulcerationNo"
            name="internalUlceration"
            value="no"
            checked
            aria-label="UlcerationNo"
          />
        </td>
        <td><p class="fs-6 mb-1">Ulceration</p></td>
        <td class="p-0">
          <select
            class="form-select form-select"
            id="locationUlceration"
            name="locationUlceration"
            disabled
          >
            <option selected value="Labia Majora">Labia Majora</option>
            <option value="Labia Minora">Labia Minora</option>
            <option value="Mons Pubis">Mons Pubis</option>
            <option value="Clitoris">Clitoris</option>
            <option value="Urethra">Urethra</option>
            <option value="Vestibule">Vestibule</option>
            <option value="Vestibular Bulbs">Vestibular Bulbs</option>
            <option value="Bartholin's Glands">Bartholin's Glands</option>
            <option value="Skene's glands">Skene's glands</option>
            <option value="Vaginal Opening">Vaginal Opening</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="condylomataYes"
            name="internalCondylomata"
            value="yes"
            aria-label="condylomataYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="condylomataNo"
            name="internalCondylomata"
            value="no"
            checked
            aria-label="condylomataNo"
          />
        </td>
        <td><p class="fs-6 mb-1">Condylomata</p></td>
        <td class="p-0">
          <select
            class="form-select form-select"
            id="locationCondylomata"
            name="locationCondylomata"
            disabled
          >
            <option selected value="Labia Majora">Labia Majora</option>
            <option value="Labia Minora">Labia Minora</option>
            <option value="Mons Pubis">Mons Pubis</option>
            <option value="Clitoris">Clitoris</option>
            <option value="Urethra">Urethra</option>
            <option value="Vestibule">Vestibule</option>
            <option value="Vestibular Bulbs">Vestibular Bulbs</option>
            <option value="Bartholin's Glands">Bartholin's Glands</option>
            <option value="Skene's glands">Skene's glands</option>
            <option value="Vaginal Opening">Vaginal Opening</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="varicesYes"
            name="internalVarices"
            value="yes"
            aria-label="varicesYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="varicesNo"
            name="internalVarices"
            checked
            value="no"
            aria-label="varicesNo"
          />
        </td>
        <td><p class="fs-6 mb-1">Varices</p></td>
        <td class="p-0">
          <select
            class="form-select form-select"
            id="locationVarices"
            name="locationVarices"
            disabled
          >
            <option selected value="Labia Majora">Labia Majora</option>
            <option value="Labia Minora">Labia Minora</option>
            <option value="Mons Pubis">Mons Pubis</option>
            <option value="Clitoris">Clitoris</option>
            <option value="Urethra">Urethra</option>
            <option value="Vestibule">Vestibule</option>
            <option value="Vestibular Bulbs">Vestibular Bulbs</option>
            <option value="Bartholin's Glands">Bartholin's Glands</option>
            <option value="Skene's glands">Skene's glands</option>
            <option value="Vaginal Opening">Vaginal Opening</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="periScarYes"
            name="internalPeriScar"
            value="yes"
            aria-label="periScarYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="periScarNo"
            name="internalPeriScar"
            checked
            value="no"
            aria-label="periScarNo"
          />
        </td>
        <td><p class="fs-6 mb-1">Perrineal Scarring</p></td>
        <td class="p-0">
          <select
            class="form-select form-select"
            id="locationPeriScar"
            name="locationPeriScar"
            disabled
          >
            <option selected value="Labia Majora">Labia Majora</option>
            <option value="Labia Minora">Labia Minora</option>
            <option value="Mons Pubis">Mons Pubis</option>
            <option value="Clitoris">Clitoris</option>
            <option value="Urethra">Urethra</option>
            <option value="Vestibule">Vestibule</option>
            <option value="Vestibular Bulbs">Vestibular Bulbs</option>
            <option value="Bartholin's Glands">Bartholin's Glands</option>
            <option value="Skene's glands">Skene's glands</option>
            <option value="Vaginal Opening">Vaginal Opening</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="rigidityYes"
            name="internalRigidity"
            value="yes"
            aria-label="rigidityYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="rigidityNo"
            name="internalRigidity"
            checked
            value="no"
            aria-label="rigidityNo"
          />
        </td>
        <td><p class="fs-6 mb-1">Rigidity</p></td>
        <td class="p-0">
          <select
            class="form-select form-select"
            id="locationRigidity"
            name="locationRigidity"
            disabled
          >
            <option selected value="Labia Majora">Labia Majora</option>
            <option value="Labia Minora">Labia Minora</option>
            <option value="Mons Pubis">Mons Pubis</option>
            <option value="Clitoris">Clitoris</option>
            <option value="Urethra">Urethra</option>
            <option value="Vestibule">Vestibule</option>
            <option value="Vestibular Bulbs">Vestibular Bulbs</option>
            <option value="Bartholin's Glands">Bartholin's Glands</option>
            <option value="Skene's glands">Skene's glands</option>
            <option value="Vaginal Opening">Vaginal Opening</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row mt-3 mb-1">
    <div class="form-group col-12">
      <label for="vulvaNotes" class="form-label" id="vulNotesLabel"
        >Notes</label
      >
      <textarea
        class="form-control"
        id="vulvaNotes"
        name="vulvaNotes"
        placeholder="Additional notes here"
        rows="5"
      ></textarea>
    </div>
  </div>

  <!-- Vagina -->
  <h3 class="default-label mt-3">Vagina</h3>

  <table class="table table-borderless" id="vagina-tests-table">
    <thead>
      <tr align="middle">
        <th scope="col" width="10%">Yes</th>
        <th scope="col" width="10%">No</th>
        <th scope="col" width="50%">Condition</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="VaginaDiscYes"
            name="vaginaDisc"
            value="Yes"
            aria-label="VaginaDiscYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="VaginaDiscNo"
            name="vaginaDischarge"
            value="no"
            checked
            aria-label="VaginaDiscNo"
          />
        </td>
        <td><p class="fs-6 mb-1">Vaginal Discharge</p></td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="fullRectumYes"
            name="fullRectum"
            value="yes"
            aria-label="fullRectumYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="fullRectumNo"
            name="fullRectum"
            value="no"
            checked
            aria-label="fullRectumNo"
          />
        </td>
        <td><p class="fs-6 mb-1">Full Rectum</p></td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="vaginalStrictYes"
            name="vaginalStrict"
            value="yes"
            aria-label="vaginalStrictYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="vaginalStrictNo"
            name="vaginalStricture"
            value="no"
            checked
            aria-label="vaginalStrictNo"
          />
        </td>
        <td><p class="fs-6 mb-1">Vaginal Stricture</p></td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="umbprolapYes"
            name="umbProlapse"
            value="yes"
            aria-label="umbprolapYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="umbprolapNo"
            name="umbilicalProlapse"
            value="no"
            checked
            aria-label="umbprolapNo"
          />
        </td>
        <td><p class="fs-6 mb-1">Umbilical Prolapse</p></td>
      </tr>
    </tbody>
  </table>

  <div class="row mt-3 mb-1">
    <div class="form-group col-12">
      <label for="vaginaNotes" class="form-label" id="vagNotesLabel"
        >Notes</label
      >
      <textarea
        class="form-control"
        id="vaginaNotes"
        name="vaginaNotes"
        placeholder="Additional notes here"
        rows="5"
      ></textarea>
    </div>
  </div>

  <!-- Cervix -->
  <h3 class="default-label mt-3">Cervix</h3>

  <div class="mt-3 row row-cols-1 row-cols-md-2 gy-2">
    <div class="form-group">
      <label for="cervixLength" class="form-label">Cervix Length (in cm)</label>
      <input
        type="number"
        class="form-control"
        id="cervixLength"
        name="cervixLength"
        min="1"
        max="5"
        step="0.1"
      />
    </div>

    <div class="form-group">
      <label for="cervixDilation" class="form-label"
        >Cervix Dilation (in cm)</label
      >
      <input
        type="number"
        class="form-control"
        id="cervixDilation"
        name="cervixDilation"
        min="1"
        max="10"
        step="1"
      />
    </div>
  </div>

  <div class="row mt-3">
    <div class="form-group col-12">
      <label for="cervixNotes" class="form-label" id="cervixNotesLabel"
        >Notes</label
      >
      <textarea
        class="form-control"
        id="cervixNotes"
        name="cervixNotes"
        rows="5"
        placeholder="Additional notes here"
      ></textarea>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="submit"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="ie-pap-smear"
    />

    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="assessment"
    />
  </div>

  <!-- <script>
    let vulvaVal = {};
    let vaginaVal = {};
    let cervVal = {};
    let overallObject = {
      VulvaTest: {},
      VaginaTest: {},
      CervTest: {},
    };
    $(".IntExam :input").change(function () {
      let vulUlceration = $("input[name='internalUlceration']:checked");
      let locUlceration = $("#locationUlceration");
      let vulCondylomata = $("input[name='internalCondylomata']:checked");
      let locCondylomata = $("#locationCondylomata");
      let vulVarices = $("input[name='internalVarices']:checked");
      let locVarices = $("#locationVarices");
      let vulPeriScar = $("input[name='internalPeriScar']:checked");
      let locPeriScar = $("#locationPeriScar");
      let vulRigidity = $("input[name='internalRigidity']:checked");
      let locRigidity = $("#locationRigidity");
      let vulNotes = $("#vulvaNotes");

      let vaginaDischarge = $("input[name='VaginaDisc']:checked");
      let vaginaFullRectum = $("input[name='fullRectum']:checked");
      let vaginaStricture = $("input[name='vaginalStrict']:checked");
      let vaginaUmbProlapse = $("input[name='umbProlapse']:checked");
      let vaginaNotes = $("#vaginaNotes");

      let cervLength = $("#cervixLength");
      let cervDilation = $("#cervixDilation");
      let cervNotes = $("#cervixNotes");
      // let medDosage = $('#medicineDosage');
      // let medMeasure = $('#medicineMeasure');
      // let medAmount = $('#medicineAmount');
      // let medFreq = $('#medicineFrequency');
      // let medIA = $('#medicineInstructionArea');

      vulvaVal[vulUlceration.attr("name")] = vulUlceration.val();
      vulvaVal[locUlceration.attr("name")] = locUlceration.val();
      vulvaVal[vulCondylomata.attr("name")] = vulCondylomata.val();
      vulvaVal[locCondylomata.attr("name")] = locCondylomata.val();
      vulvaVal[vulVarices.attr("name")] = vulVarices.val();
      vulvaVal[locVarices.attr("name")] = locVarices.val();
      vulvaVal[vulPeriScar.attr("name")] = vulPeriScar.val();
      vulvaVal[locPeriScar.attr("name")] = locPeriScar.val();
      vulvaVal[vulRigidity.attr("name")] = vulRigidity.val();
      vulvaVal[locRigidity.attr("name")] = locRigidity.val();
      vulvaVal[vulNotes.attr("name")] = vulNotes.val();

      vaginaVal[vaginaDischarge.attr("name")] = vaginaDischarge.val();
      vaginaVal[vaginaFullRectum.attr("name")] = vaginaFullRectum.val();
      vaginaVal[vaginaStricture.attr("name")] = vaginaStricture.val();
      vaginaVal[vaginaUmbProlapse.attr("name")] = vaginaUmbProlapse.val();
      vaginaVal[vaginaUmbProlapse.attr("name")] = vaginaUmbProlapse.val();
      vaginaVal[vaginaNotes.attr("name")] = vaginaNotes.val();

      cervVal[cervLength.attr("name")] = cervLength.val();
      cervVal[cervDilation.attr("name")] = cervDilation.val();
      cervVal[cervNotes.attr("name")] = cervNotes.val();

      // intExamVal[medDosage.attr("name")] = (medDosage.val());
      // intExamVal[medMeasure.attr("name")] = (medMeasure.val());
      // intExamVal[medAmount.attr("name")] = (medAmount.val());
      // intExamVal[medFreq.attr("name")] = (medFreq.val());
      // intExamVal[medIA.attr("name")] = (medIA.val());

      // let intExamName = $(this).attr("name");
      // intExamVal[intExamName] = $(this).val();

      overallObject.VulvaTest = vulvaVal;
      overallObject.VaginaTest = vaginaVal;
      overallObject.CervTest = cervVal;
      console.log(vulvaVal);
      console.log(overallObject);
    });
  </script> -->
</form>

<script>
  $(function () {
    let existingData = getDataFromLocalStorage(
      (objName = "vulvaVaginaCervix"),
      (parentObjName = "internalExamination"),
      (grandParentObjName = "physicalExamination")
    );

    console.log(existingData);

    if (Object.keys(existingData).length) {
      let { Vulva, Vagina, Cervix } = existingData;
      // SET VALUES OF VULVA
      // Vulva.forEach((item) => {
      //   Object.entries(item).forEach(([key, value]) => {
      //     console.log(key, value);
      //     if (key === "vulvaNotes") {
      //       $("#vulvaNotes").val(value);
      //       return;
      //     }

      //     if (key !== "location") {
      //       let radios = $(`input[name=${key}]`);
      //       $(radios).each(function () {
      //         let radioValueProp = $(this).prop("value");
      //         if (radioValueProp === value) {
      //           $(this).prop("checked", true);
      //         }
      //       });
      //       return;
      //     }
      //     let locationValue = value;
      //     let locationSelect = $(this).parent().siblings().find("select");
      //     console.log(locationSelect);
      //     locationSelect.val(locationValue);
      //     locationSelect.prop("disabled", false);
      //   });
      // });
      Object.entries(Vulva).forEach((key, item) => {
        let data = key[1];
        let dataKeys = Object.keys(data);

        if (dataKeys[0] === "vulvaNotes") {
          $("#vulvaNotes").val(data[dataKeys[0]]);
          return;
        }

        let radios = $(`input[name=${dataKeys[0]}]`);
        $(radios).each(function () {
          let value = $(this).prop("value");
          if (value === data[dataKeys[0]]) {
            $(this).prop("checked", true);

            // IF IT HAS LOCATION
            if (data[dataKeys[0]] === "yes") {
              let locationValue = data[dataKeys[1]];
              let locationSelect = $(this).parent().siblings().find("select");
              locationSelect.val(locationValue);
              locationSelect.prop("disabled", false);
            }
          }
        });
      });
      // SET VALUES OF VAGINA
      Object.entries(Vagina).forEach(([key, value]) => {
        if (key === "vaginaNotes") {
          $("#vaginaNotes").val(value);
          return;
        }

        let radios = $(`input[name=${key}`);

        $(radios).each(function () {
          let radioValue = $(this).prop("value");
          if (radioValue === value) {
            $(this).prop("checked", true);
          }
        });
      });

      // SET VALUES OF CERVIX
      Object.entries(Cervix).forEach(([key, value]) => {
        if (key === "cervixNotes") {
          $("#cervixNotes").val(value);
          return;
        }
        $(`input[name=${key}]`).val(value);
      });
    }

    $("#vulva-tests-table input[type=radio]").on("change", function () {
      let value = $(this).val();
      let locationSelect = $(this).parent().siblings().find("select");

      if (value === "yes") {
        locationSelect.prop("disabled", false);
        return;
      }
      locationSelect.prop("disabled", true);
    });

    $(".IntExam").on("submit", function () {
      // VULVA
      let Vulva = [];
      let checkedRadios = $("#vulva-tests-table input[type=radio]:checked");

      checkedRadios.each(function () {
        let tempObject = {};
        let name = $(this).attr("name");
        let value = $(this).val();

        tempObject[name] = value;

        if (value === "yes") {
          let locationSelect = $(this).parent().siblings().find("select");

          tempObject["location"] = locationSelect.val();
        }
        Vulva.push(tempObject);
      });

      let vulvaNotes = $("#vulvaNotes").val();
      Vulva.push({ vulvaNotes });

      // VAGINA
      let Vagina = {};
      checkedRadios = $("#vagina-tests-table input[type=radio]:checked");

      checkedRadios.each(function () {
        let nameProp = $(this).attr("name");
        let value = $(this).val();

        Vagina[nameProp] = value;
      });

      let vaginaNotes = $("#vaginaNotes").val();
      Vagina["vaginaNotes"] = vaginaNotes;

      // CERVIX
      let cervixLength = $("#cervixLength").val();
      let cervixDilation = $("#cervixDilation").val();
      let cervixNotes = $("#cervixNotes").val();

      let Cervix = {
        cervixLength: cervixLength,
        cervixDilation: cervixDilation,
        cervixNotes,
      };

      // let VulvaVaginaCervix = [Vulva, Vagina, Cervix];
      let VulvaVaginaCervix = {
        Vulva,
        Vagina,
        Cervix,
      };

      saveDataToLocalstorage(
        (data = VulvaVaginaCervix),
        (objName = "vulvaVaginaCervix"),
        (parentObjName = "internalExamination"),
        (grandParentObjName = "physicalExamination")
      );
    });

    // let vulInternalUlceration = $("input[name='internalUlceration']:checked");
    // let vulLocationUlceration = $("#locationUlceration");
    // let vulInternalCondylomata = $("input[name='internalCondylomata']:checked");
    // let vulLocationCondylomata = $("#locationCondylomata");
    // let vulInternalVarices = $("input[name='internalVarices']:checked");
    // let vulLocationVarices = $("#locationVarices");
    // let vulInternalPeriScar = $("input[name='internalPeriScar']:checked");
    // let vulLocationPeriScar = $("#locationPeriScar");
    // let vulInternalRigidity = $("input[name='internalRigidity']:checked");
    // let vulLocationRigidity = $("#locationRigidity");
    // let vulNotes = $("#vulvaNotes");

    // let vagVaginaDisc = $("input[name='vaginaDisc']:checked");
    // let vagFullRectum = $("input[name='fullRectum']:checked");
    // let vagVaginalStrict = $("input[name='vaginalStrict']:checked");
    // let vagUmbProlapse = $("input[name='umbProlapse']:checked");
    // let vagNotes = $("#vaginaNotes");

    // VagVulCer.Vulva[vulInternalUlceration.attr("name")] =
    //   vulInternalUlceration.val();
    // VagVulCer.Vulva[vulLocationUlceration.attr("name")] =
    //   vulLocationUlceration.val();
    // VagVulCer.Vulva[vulInternalCondylomata.attr("name")] =
    //   vulInternalCondylomata.val();
    // VagVulCer.Vulva[vulLocationCondylomata.attr("name")] =
    //   vulLocationCondylomata.val();
    // VagVulCer.Vulva[vulInternalVarices.attr("name")] = vulInternalVarices.val();
    // VagVulCer.Vulva[vulLocationVarices.attr("name")] = vulLocationVarices.val();
    // VagVulCer.Vulva[vulInternalPeriScar.attr("name")] =
    //   vulInternalPeriScar.val();
    // VagVulCer.Vulva[vulLocationPeriScar.attr("name")] =
    //   vulLocationPeriScar.val();
    // VagVulCer.Vulva[vulInternalRigidity.attr("name")] =
    //   vulInternalRigidity.val();
    // VagVulCer.Vulva[vulLocationRigidity.attr("name")] =
    //   vulLocationRigidity.val();
    // VagVulCer.Vulva[vulNotes.attr("name")] = vulNotes.val();

    // VagVulCer.Vagina[vagVaginaDisc.attr("name")] = vagVaginaDisc.val();
    // VagVulCer.Vagina[vagFullRectum.attr("name")] = vagFullRectum.val();
    // VagVulCer.Vagina[vagVaginalStrict.attr("name")] = vagVaginalStrict.val();
    // VagVulCer.Vagina[vagUmbProlapse.attr("name")] = vagUmbProlapse.val();
    // VagVulCer.Vagina[vagNotes.attr("name")] = vagNotes.val();

    // VagVulCer.Cervix[cerCervixLength.attr("name")] = cerCervixLength.val();
    // VagVulCer.Cervix[cerCervixDilation.attr("name")] = cerCervixDilation.val();
    // VagVulCer.Cervix[cerCervixNotes.attr("name")] = cerCervixNotes.val();

    // console.log(VagVulCer);
  });
</script>
