<form id="referralDetails" data-form-target="EMR">
  <div
    class="d-flex flex-column flex-md-row justify-content-between align-items-md-center"
  >
    <h3 class="default-label">Laboratory</h3>

    <p class="fs-6 text-black mt-2" id="laboratory-date">
      Date: <span id="date-value"></span>
    </p>
  </div>

  <!-- <div class="row row-cols-1 row-cols-md-2 gx-4 gy-2">
    <div class="form-group">
      <label for="medicineName" class="form-label">Lab Test</label>
      <input
        type="text"
        class="form-control col-md-4"
        id="medicineName"
        name="LabTest"
      />
    </div>

    <div class="form-group">
      <label for="medicineName" class="form-label">Referral Reason</label>
      <input
        type="text"
        class="form-control col-md-4"
        id="medicineName"
        name="ReasonforReferral"
      />
    </div>
  </div> -->
  <div class="row row-cols-1">
    <!-- <div class="form-group">
        <label for="medicineName" class="form-label required"
          >Laboratory Clinic Name</label
        >
        <input
          type="text"
          class="form-control"
          id="labClinicName"
          name="labClinicName"
          required
        />
      </div> -->

    <div class="form-group">
      <label for="referralReason" class="form-label required"
        >Referral Reason</label
      >
      <!-- NOTE: autocomplete functionality -->
      <input
        type="text"
        class="form-control"
        id="referralReason"
        name="referralReason"
        required
      />
    </div>
  </div>

  <!-- Tests -->
  <p class="fs-6 form-label mt-3 mb-0">Check all test/s that apply</p>
  <div class="tests-container row row-cols-1 row-cols-md-3 mx-2">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="CBC"
        name="tests"
        id="CBC-inp"
      />
      <label class="form-check-label" for="CBC-inp"> CBC </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="urinalysis"
        name="tests"
        id="urinalysis-inp"
      />
      <label class="form-check-label" for="urinalysis-inp"> Urinalysis </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="blood typing"
        name="blood typing"
        id="bloodTyping"
      />
      <label class="form-check-label" for="bloodTyping"> Blood Typing </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="FBS"
        name="tests"
        id="FBS-inp"
      />
      <label class="form-check-label" for="FBS-inp"> FBS</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="urine culture"
        name="tests"
        id="urineCulture"
      />
      <label class="form-check-label" for="urineCulture">Urine Culture</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="OGTT"
        name="tests"
        id="OGTT-inp"
      />
      <label class="form-check-label" for="OGTT-inp">OGTT</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="HIV"
        name="tests"
        id="HIV-inp"
      />
      <label class="form-check-label" for="HIV-inp">HIV</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="HBsAg"
        name="tests"
        id="HBsAg-inp"
      />
      <label class="form-check-label" for="HBsAg-inp">HBsAg</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="VDRL"
        name="tests"
        id="VDRL-inp"
      />
      <label class="form-check-label" for="VDRL-inp">VDRL</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="rubella"
        name="tests"
        id="rubella-inp"
      />
      <label class="form-check-label" for="rubella-inp">Rubella</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="GBS"
        name="tests"
        id="GBS-inp"
      />
      <label class="form-check-label" for="GBS-inp">GBS</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="HPV"
        name="tests"
        id="HPV-inp"
      />
      <label class="form-check-label" for="HPV-inp">HPV</label>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="submit"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="assessment"
    />

    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="plan"
    />
  </div>
</form>
<!-- <script>
  let labdetailVal = {};
  $(".referralDetails :input").change(function () {
    let referDetName = $(this).attr("name");
    labdetailVal[referDetName] = $(this).val();
    console.log(labdetailVal);
  });

  $("#date-value").text(moment(StartDate).format("MM-YYYY"));
</script> -->

<script>
  $(function () {
    let today = new Date();
    $("#date-value").text(moment(today).format("MMMM DD, YYYY"));

    // AJAX-REQUEST TO GET TEMPLATES FOR AUTOCOMPLETE FUNCTIONALITY
    $.ajax({
      type: "GET",
      url: "/emr/getTemplates",
      data: JSON.stringify({
        doctorId: "123456",
        category: "laboratory",
      }),
      contentType: "application/json",
      dataType: "json",
    });

    let existingData = getDataFromLocalStorage("laboratory");
    let radioKeys = [
      "severity",
      "onset",
      "duration",
      "frequency",
      "progression",
      "bodilyFunctionEffect",
    ];
    if (existingData) {
      Object.entries(existingData).forEach(([key, value]) => {
        let inputEl = $(`input[name=${key}], textarea[name=${key}]`);
        // IF INPUT IS RADIO BUTTON
        if (radioKeys.includes(key)) {
          $(inputEl).each(function () {
            if ($(this).prop("value") === value) {
              $(this).prop("checked", true);
              return;
            }
          });
        } else if (key === "riskFactors") {
          if (Array.isArray(value)) {
            $(inputEl).each(function () {
              console.log(value.includes($(this).prop("value")));
              if (value.includes($(this).prop("value"))) {
                $(this).prop("checked", true);
                return;
              }
            });
          } else {
            $(inputEl).each(function () {
              if ($(this).prop("value") === value) {
                $(this).prop("checked", true);
                return;
              }
            });
          }
        } else {
          inputEl.val(value);
        }
      });
    }

    // FIXME:
    $("#referralDetails").on("submit", function () {
      let cleanedData = cleanData($(this).serializeArray());
      console.log(cleanedData);
      saveDataToLocalstorage(cleanedData, "laboratory");
    });
  });
</script>

<!-- jquery Autocomplete -->

<!-- <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"
    integrity="sha512-TToQDr91fBeG4RE5RjMl/tqNAo35hSRR4cbIFasiV2AAMQ6yKXXYhdSdEpUcRE6bqsTiB+FPLPls4ZAFMoK5WA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script> -->
