<form
  class="allergyHistory"
  data-form-target="EMR"
  id="allergy-history-form"
  data-form-target="EMR"
>
  <h3>Allergy History</h3>
  <div class="container-md form-container bg-white m-2 p-2">
    <table class="table table-borderless" id="allergy-history-table">
      <thead class="thLabel">
        <tr>
          <th scope="col" width="5%"></th>
          <th scope="col" width="15%">Allergy Name</th>
          <th scope="col" width="15%">Reaction</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>
  </div>

  <!-- <script>
    let aHistoryVal = { }
    $(".allergyHistory :input").change(function(){
      let aHistoryName = $(this).attr("name");
      aHistoryVal[aHistoryName] = $(this).val();
      console.log(aHistoryVal);
    });
  </script> -->
  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="button"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="patient-history-sh"
    />

    <input
      type="button"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="ros-constitutional"
    />
  </div>
</form>

<div
  class="modal fade"
  id="allergyHistoryModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="allergyHistoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="allergyHistoryModalLabel">
            Modal title
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group">
              <label for="allergyName" class="form-label">Allergy Name</label>
              <input
                type="text"
                class="form-control"
                name="allergyName"
                id="allergyName"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group">
              <label for="allergyReaction" class="form-label">Reaction</label>
              <input
                type="text"
                class="form-control"
                name="allergyReaction"
                id="allergyReaction"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Delete
          </button> -->
          <input
            type="submit"
            class="btn btn-primary"
            value="Save"
            id="surgery-modal-form-submit"
          />
        </div>
      </div>
    </form>
  </div>
</div>

<!-- LOADASH -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
  integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  $(function () {
    let mode = "";
    let previousData = {};
    let allergyHistory = [];

    function generateTableTDs(data) {
      return `
      <td>
        <button type="button" class="btn btn-warning btn-edit" data-bs-toggle="modal"
              data-bs-target="#allergyHistoryModal">
          <span>
            <i class="fa-solid fa-pen"></i>
          </span>      
        </button>
        <button type="button" class="btn btn-danger btn-delete">
          <span>
            <i class="fa-solid fa-x"></i>
          </span>      
        </button>
      </td>
      <td>
        ${data.allergyName}
      </td>
      <td>
        ${data.allergyReaction}
      </td>
      `;
    }

    function updateTable(dataArray) {
      let tableBody = $("#allergy-history-table tbody");
      let trWithAddBtn = `<tr id="tr-dummy">
          <td>
            <button
              class="btn btn-success btn-add"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#allergyHistoryModal"
            >
              <span>
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>
          </td>
        </tr>`;

      tableBody.empty();
      tableBody.append(trWithAddBtn);

      if (!dataArray.length) return;

      dataArray.forEach(function (item) {
        let TDs = generateTableTDs(item);

        // APPEND GENERATED TR TO TABLE
        let toAppend = `
        <tr>
          ${TDs}
        </tr>
        `;
        $(toAppend).insertBefore("#tr-dummy");
      });
    }

    // FUNCTIONALITY TO LOAD EXISTING DATA FROM LOCALSTORAGE
    let existingData = getDataFromLocalStorage(
      "allergyHistory",
      "patientHistory"
    );

    updateTable(allergyHistory);

    if (Object.keys(existingData).length) {
      console.log(existingData);
      allergyHistory = [...existingData];

      updateTable(allergyHistory);
    }

    // when add button (+) is clicked
    $("table").on("click", ".btn-add", function () {
      mode = "ADD";

      clearModalTextFields((modalClass = ".modal"));
    });

    // when edit button is clicked
    $("table").on("click", ".btn-edit", function () {
      mode = "EDIT";
      let trParent = $(this).parent().parent();

      clearModalTextFields((modalClass = ".modal"));

      let siblings = $(this).parent().siblings();
      let allergyName = $(siblings[0]).text().trim();
      let allergyReaction = $(siblings[1]).text().trim();

      // POPULATE MODAL FIELDS
      $(".modal input[name=allergyName]").val(allergyName);
      $(".modal input[name=allergyReaction]").val(allergyReaction);

      Object.assign(
        previousData,
        { allergyName: allergyName },
        { allergyReaction: allergyReaction }
      );
    });

    $("table").on("click", ".btn-delete", function () {
      // REMOVE DELETED VALUE
      let siblings = $(this).parent().siblings();
      let allergyName = $(siblings[0]).text().trim();
      let allergyReaction = $(siblings[1]).text().trim();

      Object.assign(
        previousData,
        { allergyName: allergyName },
        { allergyReaction: allergyReaction }
      );

      allergyHistory = allergyHistory.filter((item) => {
        return !_.isEqual(item, previousData);
      });

      updateTable(allergyHistory);
    });

    // when submitting modal form
    $(".modal form").on("submit", function (evt) {
      // pass
      evt.preventDefault();

      let submittedValues = $(this).serializeArray();

      let data = cleanData(submittedValues);

      if (mode === "ADD") {
        // APPEND VALUES TO EXISTING OBJECT
        allergyHistory.push(data);

        updateTable(allergyHistory);
      } else {
        // EDIT FUNCTIONALITY
        // APPEND UPDATED VALUES TO EXISTING OBJECT
        allergyHistory = allergyHistory.filter((item) => {
          return !_.isEqual(item, previousData);
        });
        allergyHistory.push(data);

        updateTable(allergyHistory);
      }

      $(".modal").modal("hide");
    });

    $("#allergy-history-form").on("submit", function () {
      saveDataToLocalstorage(
        allergyHistory,
        "allergyHistory",
        "patientHistory"
      );
    });
  });
</script>
