<form id="ph-gyne-history-form" class="gyneHistory" data-form-target="EMR">
  <div class="row mt-2">
    <h3 class="default-label col-12">Gynecological History</h3>
  </div>

  <div class="row row-cols-1 row-cols-md-2 mx-2">
    <div class="">
      <div class="labelSpacing">
        <label>No</label>
        <label>Yes</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="abnormalPapSmear"
            id="abnormalPapSmearNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="abnormalPapSmear"
            id="abnormalPapSmearYes"
            value="yes"
          />
        </div>
        <label class="m-2">Abnormal Pap Smear</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="desExposure"
            id="desExposureNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="desExposure"
            id="desExposureYes"
            value="yes"
          />
        </div>
        <label class="m-2">Des Exposure</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="infertility"
            id="infertilityNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="infertility"
            id="infertilityYes"
            value="yes"
          />
        </div>
        <label class="m-2">Infertility</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="pid"
            id="pidNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="pid"
            id="pidYes"
            value="yes"
          />
        </div>
        <label class="m-2">PID</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="vaginitis"
            id="vaginitisNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="vaginitis"
            id="vaginitisYes"
            value="yes"
          />
        </div>
        <label class="m-2">Recurrent Vaginitis</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="urinaryIncontinence"
            id="urinaryIncontinenceNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="urinaryIncontinence"
            id="urinaryIncontinenceYes"
            value="yes"
          />
        </div>
        <label class="m-2">Urinary Incontinence</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="breastPain"
            id="breastPainNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="breastPain"
            id="breastPainYes"
            value="yes"
          />
        </div>
        <label class="m-2">Breast Pain</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="endometriosis"
            id="endometriosisNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="endometriosis"
            id="endometriosisYes"
            value="yes"
          />
        </div>
        <label class="m-2">Endometriosis</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="ovarianCysts"
            id="ovarianCystsNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="ovarianCysts"
            id="ovarianCystsYes"
            value="yes"
          />
        </div>
        <label class="m-2">Ovarian Cysts</label>
      </div>
    </div>

    <div class="">
      <div class="labelSpacing">
        <label>No</label>
        <label>Yes</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="pms"
            id="pmsNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="pms"
            id="pmsYes"
            value="yes"
          />
        </div>
        <label class="m-2">PMS</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="std"
            id="stdNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="std"
            id="stdYes"
            value="yes"
          />
        </div>
        <label class="m-2">STD</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="uti"
            id="utiNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="uti"
            id="utiYes"
            value="yes"
          />
        </div>
        <label class="m-2">UTI (Chronic)</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="pelvicPains"
            id="pelvicPainsNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="pelvicPains"
            id="pelvicPainsYes"
            value="yes"
          />
        </div>
        <label class="m-2">Chronic Pelvic Pain</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="genitalWarts"
            id="genitalWartsNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="genitalWarts"
            id="genitalWartsYes"
            value="yes"
          />
        </div>
        <label class="m-2">Genital Warts</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="painWithIntercourse"
            id="painWithIntercourseNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="painWithIntercourse"
            id="painWithIntercourseYes"
            value="yes"
          />
        </div>
        <label class="m-2">Pain with Intercourse</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="recurrentMiscarriage"
            id="recurrentMiscarriageNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="recurrentMiscarriage"
            id="recurrentMiscarriageYes"
            value="yes"
          />
        </div>
        <label class="m-2">Recurrent Miscarriage</label>
      </div>

      <div class="ms-1">
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="uterineFibroids"
            id="uterinFibroidsNo"
            value="no"
            checked
          />
        </div>
        <div class="form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="uterineFibroids"
            id="uterinFibroidsYes"
            value="yes"
          />
        </div>
        <label class="m-2">Uterine Fibroids</label>
      </div>
    </div>
  </div>

  <div>
    <label>Notes</label>
    <textarea
      class="form-control"
      name="additionalNotes"
      id="gyneNotes"
      rows="3"
    ></textarea>
  </div>

  <!-- <script>
    let gHistoryVal = {};
    $(".gyneHistory :input").change(function () {
      let gHistoryName = $(this).attr("name");
      gHistoryVal[gHistoryName] = $(this).val();
      console.log(gHistoryVal);
    });
  </script> -->

  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="submit"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="patient-history-ch"
    />

    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="patient-history-cmh"
    />
  </div>
</form>

<script>
  $(function () {
    let existingData = getDataFromLocalStorage(
      (objName = "gynecologicalHistory"),
      (parentObjName = "patientHistory")
    );

    if (existingData) {
      Object.entries(existingData).forEach(([key, value]) => {
        // IF INPUT IS RADIO BUTTON
        if (key === "gyneNotes") {
          $("#gyneNotes").val(value);
          return;
        }

        let radios = $(`input[name=${key}`);

        $(radios).each(function () {
          let radioValue = $(this).prop("value");
          if (radioValue === value) {
            $(this).prop("checked", true);
          }
        });
      });
    }

    $("#ph-gyne-history-form").on("submit", function () {
      let Gynecological = {};
      let cleanedData = cleanData($(this).serializeArray());

      saveDataToLocalstorage(
        (data = cleanedData),
        (objName = "gynecologicalHistory"),
        (parentObjName = "patientHistory")
      );
    });
  });
</script>

<!-- <script>
  let gHistoryVal = { }
  $(".gyneHistory :input").on("submit", function(){
    let gHistoryName = $(this).attr("name");
    gHistoryVal[gHistoryName] = $(this).val();
    console.log(gHistoryVal);
  });
</script> -->
