<form
  id="past-medical-history-form"
  class="pastMedicalHistory"
  data-form-target="EMR"
>
  <div class="row mt-2">
    <h3 class="default-label col-12">Past Medical History</h3>
  </div>
  <table class="table table-borderless">
    <thead class="thLabel">
      <tr>
        <th class="thLeft" style="width: 50%">Disease</th>
        <th class="thLeft" style="width: 5%">N/A</th>
        <th style="width: 5%">Self</th>
        <th style="width: 5%">Family</th>
        <th style="width: 30%">
          Indicate Relationship (if you selected family)
        </th>
      </tr>
    </thead>

    <tbody></tbody>
  </table>

  <div>
    <label for="other">Other</label>
    <textarea
      class="form-control"
      id="otherPMDisease"
      name="other"
      rows="1"
    ></textarea>
  </div>

  <!-- <script>
    let pmHistoryVal = {};
    $(".pastMedicalHistory :input").change(function () {
      let pmHistoryName = $(this).attr("name");
      pmHistoryVal[pmHistoryName] = $(this).val();
      console.log(pmHistoryVal);
    });
  </script> -->

  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="submit"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="patient-history-hpi"
    />

    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="patient-history-ph"
    />
  </div>
</form>

<script>
  $(function () {
    const DISEASESLIST = [
      { name: "cv19", label: "Covid 19" },
      { name: "arthritis", label: "Athritis" },
      { name: "diabetes", label: "Diabetes" },
      { name: "highBloodPressure", label: "High Blood Pressure" },
      { name: "heartDisease", label: "Heart Disease" },
      { name: "thyroidDisease", label: "Thyroid Disease" },
      { name: "eatingDisorder", label: "Eating Disorder" },
      { name: "bloodTransfusions", label: "Blood Transfusions" },
      { name: "hiv", label: "HIV+" },
      { name: "bronchitis", label: "Bronchitis" },
      { name: "emphysema", label: "Emphysema" },
      { name: "asthma", label: "Asthma" },
      { name: "epilepsy", label: "Epilepsy" },
      { name: "liverDiseases", label: "Liver Diseases" },
      { name: "hepatitis", label: "Hepatitis" },
      { name: "gallstones", label: "Gallstones" },
      { name: "kidneyDisease", label: "Kidney Disease" },
      { name: "ovarianCancer", label: "Ovarian Cancer" },
      { name: "endometrialCancer", label: "Endometrial Cancer" },
      { name: "breastCancer", label: "Breast Cancer" },
      { name: "colonCancer", label: "Colon Cancer" },
    ];

    function generateDiseaseTrs(name, label) {
      return `
      <tr>
        <td class="tdLeft">${label}</td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            name=${name}
            id="${name}-none"
            value=""
            checked
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            name=${name}
            id="${name}-self"
            value="self"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            name=${name}
            id="${name}-family"
            value="family"
          />
        </td>
        <td>
          <select name="${name}-relationship" class="form-select form-select-sm" disabled>
            <option value="mother">Mother Side</option>
            <option value="father">Father Side</option>
          </select>
        </td>
      </tr>`;
    }

    DISEASESLIST.forEach(function (item) {
      let tbody = $("table tbody");
      let tr = generateDiseaseTrs(item.name, item.label);
      tbody.append(tr);
    });
  });
</script>

<script>
  $(function () {
    // IMPORTANT: GET PAST MEDICAL HISTORY OF PATIENT FROM THE BACKEND
    let PMH = getDataFromLocalStorage("pastMedicalHistory", "patientHistory");
    console.log(PMH);

    PMH.forEach(function (item) {
      let keys = Object.keys(item);
      console.log(keys[0] === "other");
      if (keys[0] === "other") {
        $("textarea[name='other']").val(item[keys[0]]);
      }

      // IF IT HAS RELATIONSHIP
      if (keys.length > 1) {
        $(`select[name=${keys[0]}-relationship`).prop("disabled", false);
      } else {
        $(`select[name=${keys[0]}-relationship`).prop("disabled", false);
      }

      $(`input[name=${keys[0]}]`).each(function () {
        if ($(this).attr("value") == item[keys[0]]) {
          $(this).prop("checked", true);
        }
      });
    });

    $("#past-medical-history-form input[type*='radio']").on(
      "change",
      function () {
        console.log("CHANGED");
        if ($(this).val() === "family") {
          $(this).parent().siblings().find("select").prop("disabled", false);
          return;
        }
        $(this).parent().siblings().find("select").prop("disabled", true);
      }
    );
    let pastMedicalHistoryItem = {};
    let pastMedicalHistory = [];
    $(".pastMedicalHistory").on("submit", function () {
      $("#past-medical-history-form input[type='radio']:checked").each(
        function () {
          let value = $(this).val();
          console.log(value === true);
          if (value) {
            let name = $(this).attr("name");
            let value = $(this).val();
            let rs = $(this).parent().siblings().find("select").val();

            pastMedicalHistoryItem[name] = value;

            if (value !== "self") {
              pastMedicalHistoryItem["relationship"] = rs;
            }
            pastMedicalHistory.push(pastMedicalHistoryItem);
            pastMedicalHistoryItem = {};
          }
        }
      );
      let other = $("textarea[name='other']");

      if (other.val()) {
        let name = other.attr("name");
        let value = other.val();

        pastMedicalHistoryItem[name] = value;

        pastMedicalHistory.push(pastMedicalHistoryItem);
      }
      saveDataToLocalstorage(
        pastMedicalHistory,
        "pastMedicalHistory",
        "patientHistory"
      );
      console.log(pastMedicalHistory);
    });
    // let pmHistoryVal = {};

    // let pmcv19 = $("input[name='cv19']:checked");
    // let pmarthritis = $("input[name='arthritis']:checked");
    // let pmdiabetes = $("input[name='diabetes']:checked");
    // let pmhighBloodPressure = $("input[name='highBloodPressure']:checked");
    // let pmheartDisease = $("input[name='heartDisease']:checked");
    // let pmthyroidDisease = $("input[name='thyroidDisease']:checked");
    // let pmeatingDisorder = $("input[name='eatingDisorder']:checked");
    // let pmbloodTransfusions = $("input[name='bloodTransfusions']:checked");
    // let pmhiv = $("input[name='hiv']:checked");
    // let pmbronchitis = $("input[name='bronchitis']:checked");
    // let pmemphysema = $("input[name='emphysema']:checked");
    // let pmasthma = $("input[name='asthma']:checked");
    // let pmepilepsy = $("input[name='epilepsy']:checked");
    // let pmliverDiseases = $("input[name='liverDiseases']:checked");
    // let pmhepatitis = $("input[name='hepatitis']:checked");
    // let pmgallstones = $("input[name='gallstones']:checked");
    // let pmkidneyDisease = $("input[name='kidneyDisease']:checked");
    // let pmovarianCancer = $("input[name='ovarianCancer']:checked");
    // let pmendometrialCancer = $("input[name='endometrialCancer']:checked");
    // let pmbreastCancer = $("input[name='breastCancer']:checked");
    // let pmcolonCancer = $("input[name='colonCancer']:checked");
    // let pmotherPMDisease = $("#otherPMDisease");

    // pmHistoryVal[pmcv19.attr("name")] = pmcv19.val();
    // pmHistoryVal[pmarthritis.attr("name")] = pmarthritis.val();
    // pmHistoryVal[pmdiabetes.attr("name")] = pmdiabetes.val();
    // pmHistoryVal[pmhighBloodPressure.attr("name")] =
    //   pmhighBloodPressure.val();
    // pmHistoryVal[pmheartDisease.attr("name")] = pmheartDisease.val();
    // pmHistoryVal[pmthyroidDisease.attr("name")] = pmthyroidDisease.val();
    // pmHistoryVal[pmeatingDisorder.attr("name")] = pmeatingDisorder.val();
    // pmHistoryVal[pmbloodTransfusions.attr("name")] =
    //   pmbloodTransfusions.val();
    // pmHistoryVal[pmhiv.attr("name")] = pmhiv.val();
    // pmHistoryVal[pmbronchitis.attr("name")] = pmbronchitis.val();
    // pmHistoryVal[pmemphysema.attr("name")] = pmemphysema.val();
    // pmHistoryVal[pmasthma.attr("name")] = pmasthma.val();
    // pmHistoryVal[pmepilepsy.attr("name")] = pmepilepsy.val();
    // pmHistoryVal[pmliverDiseases.attr("name")] = pmliverDiseases.val();
    // pmHistoryVal[pmhepatitis.attr("name")] = pmhepatitis.val();
    // pmHistoryVal[pmgallstones.attr("name")] = pmgallstones.val();
    // pmHistoryVal[pmkidneyDisease.attr("name")] = pmkidneyDisease.val();
    // pmHistoryVal[pmovarianCancer.attr("name")] = pmovarianCancer.val();
    // pmHistoryVal[pmendometrialCancer.attr("name")] =
    //   pmendometrialCancer.val();
    // pmHistoryVal[pmbreastCancer.attr("name")] = pmbreastCancer.val();
    // pmHistoryVal[pmcolonCancer.attr("name")] = pmcolonCancer.val();
    // pmHistoryVal[pmotherPMDisease.attr("name")] = pmotherPMDisease.val();

    // console.log(pmHistoryVal);
  });
</script>

<!-- <script>
  let PastMedicalHistory = { }
  $(".pastMedicalHistory :input").change(function(){
    let pmHistoryName = $(this).attr("name");
    PastMedicalHistory[pmHistoryName] = $(this).val();
    console.log(PastMedicalHistory);
  });
</script> -->
