<form
  class="surgicalHistory"
  data-form-target="EMR"
  id="surgical-history-form"
  data-form-target="EMR"
>
  <h3>Surgical History</h3>

  <div class="container-md form-container bg-white m-2 p-2 table-responsive">
    <table class="table table-borderless">
      <thead class="thLabel">
        <tr>
          <th scope="col" width="5%"></th>
          <th scope="col" width="15%">Surgery Name</th>
          <th scope="col" width="15%">Year</th>
        </tr>
      </thead>

      <tbody>
        <tr id="tr-dummy">
          <!-- <td><button class="btn">Add</button></td> -->
          <td>
            <button
              class="btn btn-success btn-add"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#surgicalHistoryModal"
            >
              <span>
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>
          </td>
          <!-- <td>
            <input type="text" name="surgeryName1" class="form-control" />
          </td>
          <td>
            <input type="text" name="year1" class="form-control datepicker" />
          </td> -->
        </tr>
        <!-- <tr>
          <td>2</td>
          <td>
            <input type="text" name="surgeryName2" class="form-control" />
          </td>
          <td>
            <input type="text" name="year2" class="form-control datepicker" />
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>
            <input type="text" name="surgeryName3" class="form-control" />
          </td>
          <td>
            <input type="text" name="year3" class="form-control datepicker" />
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="submit"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="patient-history-pch"
    />

    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="patient-history-ah"
    />
  </div>
</form>

<div
  class="modal fade"
  id="surgicalHistoryModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="surgicalHistoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="surgicalHistoryModalLabel">
            Modal title
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group">
              <label for="#" class="form-label">Surgery Name</label>
              <input
                type="text"
                class="form-control"
                name="surgeryName"
                id="surgeryName"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group">
              <label for="#" class="form-label">Surgery Year</label>
              <input
                type="text"
                class="form-control datepicker"
                name="surgeryYear"
                id="surgeryYear"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <input
            type="submit"
            class="btn btn-primary"
            value="Save"
            id="surgery-modal-form-submit"
          />
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  $(function () {
    loadDatepickers({
      autoclose: true,
      changeMonth: true,
      changeYear: true,
      format: "yyyy",
      endDate: "+0d",
      minViewMode: "years",
    });

    let trIndex = 1;
    let mode = "";
    let activeTrIndex = 0;

    function generateFormGroup(data) {
      return `
      <input type='text' name='surgeryName' value="${data.surgeryName}" />
      <input type='text' name='surgeryYear' value="${data.surgeryYear}" />
      `;

      // let form = $("form[data-form-target=EMR]");
      // form.append(toInsert);
    }

    function generateTableTDs(data) {
      return `
      <td>
        <button type="button" class="btn btn-warning btn-edit" data-bs-toggle="modal"
              data-bs-target="#surgicalHistoryModal">
          <span>
            <i class="fa-solid fa-pen"></i>
          </span>      
        </button>
        <button type="button" class="btn btn-danger btn-delete">
          <span>
            <i class="fa-solid fa-x"></i>
          </span>      
        </button>
      </td>
      <td>
        ${data.surgeryName}
      </td>
      <td>
        ${data.surgeryYear}
      </td>
      `;

      // let tbody = $("table tbody");

      // console.log(tbody);
      // tbody.prepend(toInsert);
    }

    // when add button (+) is clicked
    $("table").on("click", ".btn-add", function () {
      mode = "ADD";

      $(".modal input[type=text]").each(function () {
        $(this).val("");
      });
    });

    // when edit button is clicked
    $("table").on("click", ".btn-edit", function () {
      mode = "EDIT";
      let trParent = $(this).parent().parent();
      activeTrIndex = trParent.attr("data-row-index");

      let inputs = $(`div[data-row-index=${activeTrIndex}]`).find("input");
      // console.log(trParent.find("input[type=text]"));
      inputs.each(function () {
        let name = $(this).attr("name");
        let value = $(this).val();
        $(`.modal input[name=${name}]`).val(value);
      });
    });

    $("table").on("click", ".btn-delete", function () {
      let trParent = $(this).parent().parent();

      trParent.remove();
    });

    // when submitting modal form
    $(".modal form").on("submit", function (evt) {
      // pass
      evt.preventDefault();

      let submittedValues = $(this).serializeArray();

      let data = cleanData(submittedValues);

      if (mode === "ADD") {
        generateFormGroup(data);
        let TDs = generateTableTDs(data);

        // append generated TR to table
        let toAppend = `
        <tr data-row-index=${trIndex}>
          ${TDs}
        </tr>
        `;
        $(toAppend).insertBefore("#tr-dummy");

        // add fields to hidden div that holds form data
        let newFormGroup = generateFormGroup(data);
        toAppend = `
        <div data-row-index=${trIndex} style="display: none;">
          ${newFormGroup}
        </div>
        `;

        let form = $("form[data-form-target=EMR]");
        form.append(toAppend);

        trIndex++;
      } else {
        // edit functionality
        let trParent = $(`table tr[data-row-index=${activeTrIndex}]`);

        // update table row values
        trParent.empty();
        let TDs = generateTableTDs(data);
        trParent.append(TDs);

        // update hidden form values
        let currentFormDiv = $(`div[data-row-index=${activeTrIndex}]`);

        currentFormDiv.empty();
        let newFormGroup = generateFormGroup(data);
        currentFormDiv.append(newFormGroup);
      }

      $(".modal").modal("hide");
    });
  });
</script>

<!-- <script>
  $(function () {
    loadDatepickers({
      autoclose: true,
      changeMonth: true,
      changeYear: true,
      format: "yyyy",
      endDate: "+0d",
      minViewMode: "years",
    });

    let mode = "";
    let trIndex = 1;

    $("table").on("click", ".btn-add", function () {
      mode = "ADD";

      $(".modal input[type=text]").each(function () {
        $(this).val("");
      });
    });

    $("table").on("click", ".btn-edit", function () {
      mode = "EDIT";
      let trParent = $(this).parent().parent();
      activeTrIndex = trParent.attr("data-row-index");

      let inputs = trParent.find("input[type=text]");
      // console.log(trParent.find("input[type=text]"));
      inputs.each(function () {
        let name = $(this).attr("name");
        let value = $(this).val();
        $(`.modal input[name=${name}]`).val(value);
      });
    });

    $("table").on("click", ".btn-delete", function () {
      let trParent = $(this).parent().parent();

      trParent.remove();
    });

    function addInputs(data) {
      let toBeAdded = `
    <tr data-row-index=${trIndex}>
      <td>
        <button type="button" class="btn btn-warning btn-edit" data-bs-toggle="modal"
              data-bs-target="#surgicalHistoryModal">
          <span>
            <i class="fa-solid fa-pen"></i>
          </span>      
        </button>
        <button type="button" class="btn btn-danger btn-delete">
          <span>
            <i class="fa-solid fa-x"></i>
          </span>      
        </button>
      </td>
      <td>
        <input type="text" name="surgeryName" class="form-control" value=${data.surgeryName} readonly/>
      </td>
      <td>
        <input type="text" name="surgeryYear" class="form-control" value=${data.surgeryYear} readonly/>
      </td>
    </tr>

      `;

      let tbody = $("table tbody");

      console.log(tbody);
      tbody.prepend(toBeAdded);
    }

    $(".modal form").on("submit", function (evt) {
      evt.preventDefault();

      // if ($(this).valid()) {
      let submittedValues = $(this).serializeArray();

      let data = cleanData(submittedValues);

      if (mode === "ADD") {
        addInputs(data);
        trIndex++;
      } else {
        // edit functionality
        let trParent = $(`table tr[data-row-index=${activeTrIndex}]`);

        let inputs = trParent.find("input[type=text]");

        inputs.each(function (idx) {
          let name = $(this).attr("name");
          $(this).val(data[name]);
        });
      }

      $(".modal input[type=text]").each(function () {
        $(this).val("");
      });

      $(".modal").modal("hide");
      // }
    });
  });

  /*
    [
      {tule: 2022},
      ...
    ]
  
    {
      ...,
      appointments: {
        2019-11-23: {
          vitalSigns: {
            height: value,
            weight: value, 
            BMI: value, 
            temperature: value, 
            BPDiastolic: value,
            BPSystolic: value, 
            oxygenSaturation: value, 
            heartRate: value
          },
          HPI: {
            CC: value,
            startDate: value, 
            location: value, 
            severity: value,
            onset: value,
            durationOfEpisode: [value, measurement],
            frequency: value,
            progression: value,
            aggrevatedBy: value,
            relievedBy: value,
            riskFactors: [values],
            bodilyFunction: value,
            notes: value,
          },
          ROS: {
            eyes: [
              { key: value },
            ]
            ...
          },
          PE: {
            fetalPresentation: {
              fundalHeight: value,
              fetalHeartRate: value,
              presentation: 
            }
          }
        }
      }
    }
  
  */
</script> -->
