<form
  class="currentMedHistory"
  data-form-target="EMR"
  id="current-medication-form"
>
  <h3>Current Medication</h3>

  <div class="container-md form-container bg-white m-2 p-2">
    <table class="table table-borderless" id="current-medication-history-table">
      <thead class="thLabel">
        <tr>
          <th scope="col" width="5%"></th>
          <th scope="col" width="15%">Drug Name</th>
          <th scope="col" width="15%">Dose</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="submit"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="patient-history-gh"
    />

    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="patient-history-pch"
    />
  </div>
</form>

<div
  class="modal fade"
  id="currentMedicationHistoryModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="currentMedicationHistoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="currentMedicationHistoryModalLabel">
            Add new
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group">
              <label for="#" class="form-label required">Drug Name</label>
              <input
                type="text"
                class="form-control"
                name="drugName"
                id="drugName"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group">
              <label for="#" class="form-label required">Drug Dose</label>
              <input
                type="text"
                class="form-control"
                name="drugDose"
                id="drugDose"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <input
            type="submit"
            class="btn btn-primary"
            value="Save"
            id="surgery-modal-form-submit"
          />
        </div>
      </div>
    </form>
  </div>
</div>

<!-- LOADASH -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
  integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script>
  $(function () {
    loadDatepickers({
      autoclose: true,
      changeMonth: true,
      changeYear: true,
      format: "yyyy",
      endDate: "+0d",
      minViewMode: "years",
    });

    let mode = "";
    let previousData = {};
    let currentMedicationHistory = [];

    function generateTableTDs(data) {
      return `
      <td>
        <button type="button" class="btn btn-warning btn-edit" data-bs-toggle="modal"
              data-bs-target="#currentMedicationHistoryModal">
          <span>
            <i class="fa-solid fa-pen"></i>
          </span>
        </button>
        <button type="button" class="btn btn-danger btn-delete">
          <span>
            <i class="fa-solid fa-x"></i>
          </span>
        </button>
      </td>
      <td>
        ${data.drugName}
      </td>
      <td>
        ${data.drugDose}
      </td>
      `;
    }

    function updateTable(dataArray) {
      let tableBody = $("#current-medication-history-table tbody");
      let trWithAddBtn = `<tr id="tr-dummy">
          <td>
            <button
              class="btn btn-success btn-add"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#currentMedicationHistoryModal"
            >
              <span>
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>
          </td>
        </tr>`;

      tableBody.empty();
      tableBody.append(trWithAddBtn);

      if (!dataArray.length) return;

      dataArray.forEach(function (item) {
        let TDs = generateTableTDs(item);

        // APPEND GENERATED TR TO TABLE
        let toAppend = `
        <tr>
          ${TDs}
        </tr>
        `;
        $(toAppend).insertBefore("#tr-dummy");
      });
    }

    // FUNCTIONALITY TO LOAD EXISTING DATA FROM LOCALSTORAGE
    let existingData = getDataFromLocalStorage(
      "currentMedicationHistory",
      "patientHistory"
    );

    updateTable(currentMedicationHistory);

    if (Object.keys(existingData).length) {
      console.log(existingData);
      currentMedicationHistory = [...existingData];

      updateTable(currentMedicationHistory);
    }

    // when add button (+) is clicked
    $("table").on("click", ".btn-add", function () {
      mode = "ADD";

      clearModalTextFields((modalClass = ".modal"));
    });

    // WHEN EDIT BUTTON IS CLICKED
    $("table").on("click", ".btn-edit", function () {
      mode = "EDIT";
      let trParent = $(this).parent().parent();

      clearModalTextFields((modalClass = ".modal"));

      let siblings = $(this).parent().siblings();
      let drugName = $(siblings[0]).text().trim();
      let drugDose = $(siblings[1]).text().trim();

      // POPULATE MODAL FIELDS
      $(".modal input[name=drugName]").val(drugName);
      $(".modal input[name=drugDose]").val(drugDose);

      Object.assign(
        previousData,
        { drugName: drugName },
        { drugDose: drugDose }
      );
    });

    $("table").on("click", ".btn-delete", function () {
      // REMOVE DELETED VALUE
      let siblings = $(this).parent().siblings();
      let drugName = $(siblings[0]).text().trim();
      let drugDose = $(siblings[1]).text().trim();

      Object.assign(
        previousData,
        { drugName: drugName },
        { drugDose: drugDose }
      );

      currentMedicationHistory = currentMedicationHistory.filter((item) => {
        return !_.isEqual(item, previousData);
      });

      updateTable(currentMedicationHistory);
    });

    // WHEN MODAL IS CLOSED
    $("button[data-bs-dismiss=modal]").on("click", function () {
      $(".modal input[type=text]").each(function () {
        $(this).val("");
      });
    });

    // WHEN SUBMITTING MODAL FORM
    $(".modal form").on("submit", function (evt) {
      // pass
      evt.preventDefault();

      let submittedValues = $(this).serializeArray();

      let data = cleanData(submittedValues);

      if (mode === "ADD") {
        // APPEND ADDED VALUES TO EXISTING OBJECT
        currentMedicationHistory.push(data);

        updateTable(currentMedicationHistory);
      } else {
        // EDIT FUNCTIONALITY
        // APPEND UPDATED VALUES TO EXISTING OBJECT
        currentMedicationHistory = currentMedicationHistory.filter((item) => {
          return !_.isEqual(item, previousData);
        });
        currentMedicationHistory.push(data);

        updateTable(currentMedicationHistory);
      }

      $(".modal").modal("hide");
    });

    // WHEN FORM IS SUBMITTED
    $("#current-medication-form").on("submit", function () {
      console.log(currentMedicationHistory);
      saveDataToLocalstorage(
        currentMedicationHistory,
        "currentMedicationHistory",
        "patientHistory"
      );
    });
  });
</script>
