<form class="pregnancyHistory" data-form-target="EMR">
  <div class="row mt-2">
    <h3 class="default-label col-12">Pregnancy History</h3>
  </div>
  <div class="table-responsive" style="overflow-x: auto">
    <table class="table table-bordered" id="pregnancy-history-table">
      <thead class="thLabel table-secondary">
        <tr>
          <th scope="col" width="5%"></th>
          <th scope="col" width="5%">Year</th>
          <th scope="col" width="15%">Miscarriage or Place of Delivery</th>
          <th scope="col" width="5%">Duration of Pregnancy (in Weeks)</th>
          <th scope="col" width="5%">Hours of Labor</th>
          <th scope="col" width="10%">Type of Delivery</th>
          <th scope="col" width="15%">
            Delivery Complications on Mother/Infant
          </th>
          <th scope="col" width="5%">Sex</th>
          <th scope="col" width="10%">Birth Weight (in pounds)</th>
          <th scope="col" width="10%">Present Health</th>
          <th scope="col" width="10%">Notes</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="submit"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="patient-history-mh"
    />

    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="patient-history-ch"
    />
  </div>
</form>

<div
  class="modal fade"
  id="pregnancyHistoryModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="pregnancyHistoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="pregnancyHistoryModalLabel">
            Modal title
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group">
              <label for="#" class="form-label required">Pregnancy Year</label>
              <input
                type="text"
                class="form-control datepicker"
                id="pregnancyYear"
                name="pregnancyYear"
                min="1900"
                max="2099"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group">
              <label for="#" class="form-label required"
                >Miscarriage or Place of Delivery</label
              >
              <input
                type="text"
                name="placeOfDelivery"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group">
              <label for="durationOfPregnancy" class="form-label required"
                >Duration of Pregnancy (in Weeks)</label
              >
              <select name="durationOfPregnancy" class="form-select" required>
                <option value="extremely preterm">1 - 22 weeks</option>
                <option value="very preterm">23 - 28 weeks</option>
                <option value="moderately preterm">29 - 33 weeks</option>
                <option value="late preterm">34 - 37 weeks</option>
                <option value="full term">> 38 weeks</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group">
              <label for="#" class="form-label required">Hours of Labor</label>
              <input
                type="number"
                name="hoursOfLabor"
                class="form-control"
                min="0"
                max="24"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group">
              <label for="#" class="form-label">Type of Delivery</label>
              <select name="typeOfDelivery" class="form-select" required>
                <option value="Normal">Normal</option>
                <option value="Cesarean">Cesarean</option>
                <option value="Cesarean">Aborted</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group">
              <label for="#" class="form-label required"
                >Delivery Complications on Mother/Infant</label
              >
              <input
                type="text"
                name="complications"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group">
              <label for="#" class="form-label">Sex</label>
              <select class="form-select" name="childGender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>

          <div class="row mt-3">
            <div class="form-group">
              <label for="#" class="form-label required"
                >Birth Weight (in pounds)</label
              >
              <input
                type="number"
                name="birthWeight"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group">
              <label for="#" class="form-label">Present Health</label>
              <select class="form-select" name="presentHealth" required>
                <option value="Normal">Normal</option>
                <option value="Abnormal">Abnormal</option>
                <option value="Deceased">Deceased</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group">
              <label for="additionalNotes" class="form-label"
                >Additional Notes</label
              >
              <textarea
                name="notes"
                class="form-control"
                id="additionalNotes"
                cols="20"
                rows="10"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <input type="submit" class="btn btn-primary" value="Save" />
        </div>
      </div>
    </form>
  </div>
</div>

<!-- LOADASH -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
  integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  $(function () {
    loadDatepickers({
      autoclose: true,
      changeMonth: true,
      changeYear: true,
      format: "yyyy",
      endDate: "+0d",
      minViewMode: "years",
    });

    let mode = "";
    let previousData = {};
    let pregnancyHistory = [];

    function generateTableTDs(data) {
      return `
      <td>
        <button type="button" class="btn btn-warning btn-edit" data-bs-toggle="modal"
              data-bs-target="#pregnancyHistoryModal">
          <span>
            <i class="fa-solid fa-pen"></i>
          </span>
        </button>
        <button type="button" class="btn btn-danger btn-delete mt-2">
          <span>
            <i class="fa-solid fa-x"></i>
          </span>
        </button>
      </td>
      <td>
        ${data.pregnancyYear}
      </td>
      <td style="word-break:break-word;">
        ${data.placeOfDelivery}
      </td>
      <td>
        ${data.durationOfPregnancy}
      </td>
      <td>
        ${data.hoursOfLabor}
      </td>
      <td>
        ${data.typeOfDelivery}
      </td>
      <td style="word-break:break-word;">
        ${data.complications}
      </td>
      <td>
        ${data.childGender}
      </td>
      <td>
        ${data.birthWeight}
      </td>
      <td>
        ${data.presentHealth}
      </td>
      <td>
        ${data.notes ? data.notes : ""}
      </td>
    </tr>`;
    }

    function updateTable(dataArray) {
      let tableBody = $("#pregnancy-history-table tbody");
      let trWithAddBtn = `<tr id="tr-dummy">
          <td>
            <button
              class="btn btn-success btn-add"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#pregnancyHistoryModal"
            >
              <span>
                <i class="fa-solid fa-plus"></i>
              </span>
            </button>
          </td>
        </tr>`;

      tableBody.empty();
      tableBody.append(trWithAddBtn);

      if (!dataArray.length) return;

      dataArray.forEach(function (item) {
        let TDs = generateTableTDs(item);

        // APPEND GENERATED TR TO TABLE
        let toAppend = `
        <tr>
          ${TDs}
        </tr>
        `;
        $(toAppend).insertBefore("#tr-dummy");
      });
    }

    // FUNCTIONALITY TO LOAD EXISTING DATA FROM LOCALSTORAGE
    let existingData = getDataFromLocalStorage(
      "pregnancyHistory",
      "patientHistory"
    );

    updateTable(pregnancyHistory);

    if (Object.keys(existingData).length) {
      console.log(existingData);
      pregnancyHistory = [...existingData];

      updateTable(pregnancyHistory);
    }

    // when add button (+) is clicked
    $("table").on("click", ".btn-add", function () {
      mode = "ADD";

      clearModalTextFields((modalClass = ".modal"));
    });

    // when edit button is clicked
    $("table").on("click", ".btn-edit", function () {
      mode = "EDIT";
      let trParent = $(this).parent().parent();
      clearModalTextFields((modalClass = ".modal"));

      let siblings = $(this).parent().siblings();
      let pregnancyYear = $(siblings[0]).text().trim();
      let placeOfDelivery = $(siblings[1]).text().trim();
      let durationOfPregnancy = $(siblings[2]).text().trim();
      let hoursOfLabor = $(siblings[3]).text().trim();
      let typeOfDelivery = $(siblings[4]).text().trim();
      let complications = $(siblings[5]).text().trim();
      let childGender = $(siblings[6]).text().trim();
      let birthWeight = $(siblings[7]).text().trim();
      let presentHealth = $(siblings[8]).text().trim();
      let notes = $(siblings[9]).text().trim();

      // POPULATE MODAL FIELDS
      $(".modal input[name=pregnancyYear]").val(pregnancyYear);
      $(".modal input[name=placeOfDelivery]").val(placeOfDelivery);
      $(".modal input[name=durationOfPregnancy]").val(durationOfPregnancy);
      $(".modal input[name=hoursOfLabor]").val(hoursOfLabor);
      $(".modal input[name=typeOfDelivery]").val(typeOfDelivery);
      $(".modal input[name=complications]").val(complications);
      $(".modal input[name=childGender]").val(childGender);
      $(".modal input[name=birthWeight]").val(birthWeight);
      $(".modal input[name=presentHealth]").val(presentHealth);
      $(".modal input[name=notes]").val(notes);

      Object.assign(
        previousData,
        { pregnancyYear: pregnancyYear },
        { placeOfDelivery: placeOfDelivery },
        { durationOfPregnancy: durationOfPregnancy },
        { hoursOfLabor: hoursOfLabor },
        { typeOfDelivery: typeOfDelivery },
        { complications: complications },
        { childGender: childGender },
        { birthWeight: birthWeight },
        { presentHealth: presentHealth },
        { notes: notes }
      );
    });

    $("table").on("click", ".btn-delete", function () {
      // REMOVE DELETED VALUE
      let siblings = $(this).parent().siblings();
      let pregnancyYear = $(siblings[0]).text().trim();
      let placeOfDelivery = $(siblings[1]).text().trim();
      let durationOfPregnancy = $(siblings[2]).text().trim();
      let hoursOfLabor = $(siblings[3]).text().trim();
      let typeOfDelivery = $(siblings[4]).text().trim();
      let complications = $(siblings[5]).text().trim();
      let childGender = $(siblings[6]).text().trim();
      let birthWeight = $(siblings[7]).text().trim();
      let presentHealth = $(siblings[8]).text().trim();
      let notes = $(siblings[9]).text().trim();

      Object.assign(
        previousData,
        { pregnancyYear: pregnancyYear },
        { placeOfDelivery: placeOfDelivery },
        { durationOfPregnancy: durationOfPregnancy },
        { hoursOfLabor: hoursOfLabor },
        { typeOfDelivery: typeOfDelivery },
        { complications: complications },
        { childGender: childGender },
        { birthWeight: birthWeight },
        { presentHealth: presentHealth },
        { notes: notes }
      );

      pregnancyHistory = pregnancyHistory.filter((item) => {
        return !_.isEqual(item, previousData);
      });

      updateTable(pregnancyHistory);
    });

    // when submitting modal form
    $(".modal form").on("submit", function (evt) {
      // pass
      evt.preventDefault();

      console.log("SUBMITTED");

      let submittedValues = $(this).serializeArray();

      let data = cleanData(submittedValues);

      if (mode === "ADD") {
        // APPEND VALUES TO EXISTING OBJECT
        pregnancyHistory.push(data);

        updateTable(pregnancyHistory);
      } else {
        // EDIT FUNCTIONALITY
        // APPEND UPDATED VALUES TO EXISTING OBJECT
        pregnancyHistory = pregnancyHistory.filter((item) => {
          return !_.isEqual(item, previousData);
        });
        pregnancyHistory.push(data);

        updateTable(pregnancyHistory);
      }

      $(".modal").modal("hide");
    });

    $(".pregnancyHistory").on("submit", function () {
      console.log(pregnancyHistory);
      saveDataToLocalstorage(
        pregnancyHistory,
        "pregnancyHistory",
        "patientHistory"
      );
    });
  });
</script>

<!-- <script>
  let pHistoryVal = { }
  $(".pregnancyHistory :input").change(function(){
    let pHistoryName = $(this).attr("name");
    pHistoryVal[pHistoryName] = $(this).val();
    console.log(pHistoryVal);
  });
</script> -->

<!-- <script>
              
    $(".pregnancyHistory").on("submit", function(){
      let pHistoryVal = { }
      
      let phPregnancyYr = $("#PregnancyYr");
      let phMiscarriageorPlaceofDelivery = $("#MiscarriageOrPlaceOfDelivery");
      let phDurationofPregnancy = $("#DurationOfPregnancy");
      let phHoursofLabor = $("#HoursOfLabor");
      let phTypeOfDelivery = $("#TypeOfDelivery");
      let phDeliveryComplicationsonMotherInfant = $("#DeliveryComplicationsOnMotherInfant");
      let phChildGender = $("#ChildGender");
      let phBirthWeightinPounds = $("#BirthWeightinPounds");
      let phPresentHealth = $("#PresentHealth");
      

      pHistoryVal[phPregnancyYr.attr("name")] = (phPregnancyYr.val());
      pHistoryVal[phMiscarriageorPlaceofDelivery.attr("name")] = (phMiscarriageorPlaceofDelivery.val());
      pHistoryVal[phDurationofPregnancy.attr("name")] = (phDurationofPregnancy.val());
      pHistoryVal[phHoursofLabor.attr("name")] = (phHoursofLabor.val());
      pHistoryVal[phTypeOfDelivery.attr("name")] = (phTypeOfDelivery.val());
      pHistoryVal[phDeliveryComplicationsonMotherInfant.attr("name")] = (phDeliveryComplicationsonMotherInfant.val());
      pHistoryVal[phChildGender.attr("name")] = (phChildGender.val());
      pHistoryVal[phBirthWeightinPounds.attr("name")] = (phBirthWeightinPounds.val());
      pHistoryVal[phPresentHealth.attr("name")] = (phPresentHealth.val());


      console.log(pHistoryVal);
    });
  </script> -->

<!-- let phPregnancyYr = $("#PregnancyYr");
let phMiscarriageorPlaceofDelivery = $("#MiscarriageOrPlaceOfDelivery");
let phDurationofPregnancy = $("input[name='duration of Pregnancy']:checked");
let phHoursofLabor = $("input[name='hoursofLabor']:checked");
let phTypeOfDelivery = $("input[name='typeOfDelivery']:checked");
let phDeliveryComplicationsonMotherInfant = $("input[name='delivery Complications on Mother/Infant']:checked");
let phChildGender = $("input[name='childGender']:checked");
let phBirthWeightinPounds = $("input[name='birthWeightinPounds']:checked");
let phPresentHealth = $("input[name='presentHealth']:checked"); -->
