<form class="genPE" id="genPE" data-form-target="EMR">
  <h3 class="default-label col-12">General Physical Exam</h3>
  <div class="table-responsive">
    <table class="table table-borderless">
      <thead>
        <tr class="align-middle">
          <th scope="col">NL</th>
          <th scope="col">ABN</th>
          <th scope="col">NE</th>
          <th scope="col"></th>
          <th scope="col">Remarks</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="goodGenHealth"
                name="goodGenHealth"
                value="normal"
                aria-label="peGenHealthYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notgoodGenHealth"
                name="goodGenHealth"
                value="abnormal"
                aria-label="peGenHealthNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="negoodGenHealth"
                name="goodGenHealth"
                checked
                value="not examined"
                aria-label="peGenHealthNE"
              />
            </div>
          </th>
          <td>General</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="goodGenHealthNotes"
                name="goodGenHealthNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check lign-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="HEENT"
                name="HEENT"
                value="normal"
                aria-label="peHEENTYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notHEENT"
                name="HEENT"
                value="abnormal"
                aria-label="peHEENTNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="neHEENT"
                name="HEENT"
                checked
                value="not examined"
                aria-label="peHEENTNE"
              />
            </div>
          </th>
          <td>HEENT</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="HEENTNotes"
                name="HEENTNotes"
                cols="24"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="Neck"
                name="Neck"
                value="normal"
                aria-label="peNeckYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notNeck"
                name="Neck"
                value="abnormal"
                aria-label="peNeckNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="neNeck"
                name="Neck"
                checked
                value="not examined"
                aria-label="peNeckNE"
              />
            </div>
          </th>
          <td>Neck</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="NeckNotes"
                name="NeckNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="ChestandLungs"
                name="chestAndLungs"
                value="normal"
                aria-label="peChestandLungsYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notChestandLungs"
                name="chestAndLungs"
                value="abnormal"
                aria-label="peChestandLungsNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="neChestandLungs"
                name="chestAndLungs"
                checked
                value="not examined"
                aria-label="peChestandLungsNE"
              />
            </div>
          </th>
          <td>Chest and Lungs</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="ChestandLungsNotes"
                name="chestAndLungsNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="Cardiovascular"
                name="cardiovascular"
                value="normal"
                aria-label="peCardiovascularYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notCardiovascular"
                name="cardiovascular"
                value="abnormal"
                aria-label="peCardiovascularNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="neCardiovascular"
                name="cardiovascular"
                checked
                value="not examined"
                aria-label="peCardiovascularNE"
              />
            </div>
          </th>
          <td>Cardiovascular</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="CardiovascularNotes"
                name="cardiovascularNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="Abdomen"
                name="abdomen"
                value="normal"
                aria-label="peAbdomenYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notAbdomen"
                name="abdomen"
                value="abnormal"
                aria-label="peAbdomenNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="nsAbdomen"
                name="abdomen"
                checked
                value="not examined"
                aria-label="peAbdomenNE"
              />
            </div>
          </th>
          <td>Abdomen</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="AbdomenNotes"
                name="abdomenNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="Genitourinary"
                name="genitourinary"
                value="normal"
                aria-label="peGenitourinaryYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="Genitourinary"
                name="genitourinary"
                value="abnormal"
                aria-label="peGenitourinaryNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="Genitourinary"
                name="genitourinary"
                checked
                value="not examined"
                aria-label="peGenitourinaryNE"
              />
            </div>
          </th>
          <td>Genitourinary</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="GenitourinaryNotes"
                name="genitourinaryNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="Rectal"
                name="rectal"
                value="normal"
                aria-label="peRectalYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notRectal"
                name="rectal"
                value="abnormal"
                aria-label="peRectalNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="neRectal"
                name="rectal"
                checked
                value="not examined"
                aria-label="peRectalNE"
              />
            </div>
          </th>

          <td>Rectal</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="RectalNotes"
                name="rectalNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="Musculoskeletal"
                name="musculoskeletal"
                value="normal"
                aria-label="peMusculoskeletalYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notMusculoskeletal"
                name="musculoskeletal"
                value="abnormal"
                aria-label="peMusculoskeletalNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="neMusculoskeletal"
                name="musculoskeletal"
                checked
                value="not examined"
                aria-label="peMusculoskeletalNE"
              />
            </div>
          </th>
          <td>Musculoskeletal</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="MusculoskeletalNotes"
                name="musculoskeletalNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="LymphNodes"
                name="lymphNodes"
                value="normal"
                aria-label="peLymphNodesYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notLymphNodes"
                name="lymphNodes"
                value="abnormal"
                aria-label="peLymphNodesNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="neLymphNodes"
                name="lymphNodes"
                checked
                value="not examined"
                aria-label="peLymphNodesNE"
              />
            </div>
          </th>
          <td>Lymph Nodes</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="LymphNodesNotes"
                name="lymphNodesNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="skinPE"
                name="skin"
                value="normal"
                aria-label="peSkinYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notSkin"
                name="skin"
                value="abnormal"
                aria-label="peSkinNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="neSkin"
                name="skin"
                checked
                value="not examined"
                aria-label="peSkinNE"
              />
            </div>
          </th>

          <td>Extremeties/Skin</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="SkinNotes"
                name="skinNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="Neurological"
                name="neurological"
                value="normal"
                aria-label="peNeurologicalYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notNeurological"
                name="neurological"
                value="abnormal"
                aria-label="peNeurologicalNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="neNeurological"
                name="neurological"
                checked
                value="not examined"
                aria-label="peNeurologicalNE"
              />
            </div>
          </th>
          <td>Neurological</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="NeurologicalNotes"
                name="neurologicalNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row" class="form-check align-middle">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="Breast"
                name="breast"
                value="normal"
                aria-label="peBreastYes"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="notBreast"
                name="breast"
                value="abnormal"
                aria-label="peBreastNo"
              />
            </div>
          </th>
          <th>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="neBreast"
                name="breast"
                checked
                value="not examined"
                aria-label="peBreastNE"
              />
            </div>
          </th>
          <td>Breast</td>
          <td>
            <div class="form-group">
              <textarea
                class="form-control"
                id="BreastNotes"
                name="breastNotes"
                disabled
              ></textarea>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="form-group col-12 mt-3">
      <label class="form-label" for="additionalNote">Notes</label>
      <textarea
        class="form-control"
        id="additionalNote"
        name="generalNote"
        rows="5"
        placeholder="Additional notes here"
      ></textarea>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="submit"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="pe-fetal-presentation"
    />

    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="ie-pap-smear"
    />
  </div>
</form>

<script>
  $(function () {
    let existingData = getDataFromLocalStorage(
      (objName = "general"),
      (parentObjName = "physicalExamination")
    );

    let radioKeys = [
      "goodGenHealthPE",
      "HEENTPE",
      "NeckPE",
      "ChestandLungsPE",
      "CardiovascularPE",
      "AbdomenPE",
      "GenitourinaryPE",
      "RectalPE",
      "LymphNodesPE",
      "SkinPE",
      "NeurologicalPE",
      "BreastPE",
    ];

    if (Object.keys(existingData).length) {
      existingData.forEach(function (item, idx) {
        for (const [key, value] of Object.entries(item)) {
          console.log(key, value);
          if (key.includes("Note")) {
            $(`textarea[name=${key}]`).prop("disabled", false);
            $(`textarea[name=${key}]`).val(value);
          } else {
            let radioEl = $(`input[name=${key}]`);
            $(radioEl).each(function () {
              if ($(this).val() === value) {
                $(this).prop("checked", true);
                return;
              }
            });
          }
        }
      });
    }

    $("input[type=radio]").on("change", function () {
      let value = $(this).val();
      let name = $(this).attr("name");
      let notesEl = $(`textarea[name=${name}Notes`);

      console.log(value);

      if (value === "not examined") {
        $(notesEl).prop("disabled", true);
        $(notesEl).val("");
        return;
      }
      $(notesEl).prop("disabled", false);
    });

    $("#genPE").on("submit", function () {
      let cleanedData = cleanData($(this).serializeArray());
      let generalPE = [];
      Object.entries(cleanedData).forEach(([key, value]) => {
        let tempObject = { [key]: value };
        if (key.includes("Notes")) return;

        if (cleanedData[`${key}Notes`]) {
          tempObject[`${key}Notes`] = cleanedData[`${key}Notes`];
        }
        generalPE.push(tempObject);
      });

      saveDataToLocalstorage(
        (data = generalPE),
        (objName = "general"),
        (parentObjName = "physicalExamination")
      );
    });
  });
</script>
