<form class="rosENT" id="ros-ent" data-form-target="EMR">
  <div class="row mt-2">
    <h3 class="default-label col-12">ROS - Ears, Nose, Throat</h3>
  </div>

  <table class="table table-borderless" id="ros-ent-table">
    <thead>
      <tr align="middle">
        <th scope="col" width="10%">Yes</th>
        <th scope="col" width="10%">No</th>
        <th scope="col" width="50%">Condition</th>
      </tr>
    </thead>
    <tbody align="middle">
      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="chronicSinusYes"
            name="chronicSinusProblem"
            value="yes"
            aria-label="chronicSinusYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="chronicSinusNo"
            name="chronicSinusProblem"
            value="no"
            aria-label="chronicSinusNo"
            checked
          />
        </td>
        <td>Chronic Sinus Problem</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="noseBleedsYes"
            name="noseBleeds"
            value="yes"
            aria-label="noseBleedsYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="noseBleedsNo"
            name="noseBleeds"
            value="no"
            aria-label="noseBleedsNo"
            checked
          />
        </td>
        <td>Nose Bleeds</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="soreThroatYes"
            name="soreThroat"
            value="yes"
            aria-label="soreThroatYes"
          />
        </td>

        <td>
          <input
            class="form-check-input"
            type="radio"
            id="soreThroatNo"
            name="soreThroat"
            value="no"
            aria-label="soreThroatNo"
            checked
          />
        </td>
        <td>Voice Change/Sore Throat</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="thyroidMassYes"
            name="thyroidMass"
            value="yes"
            aria-label="thyroidMassYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="thyroidMassNo"
            name="thyroidMass"
            value="no"
            aria-label="thyroidMassNo"
            checked
          />
        </td>
        <td>Thyroid Mass</td>
      </tr>
    </tbody>
  </table>

  <div class="row mt-3">
    <div class="form-group col-12">
      <label for="heentNotes" class="form-label" id="heentNotesLabel"
        >Notes</label
      >
      <textarea
        class="form-control"
        id="entNotes"
        name="entNotes"
        rows="5"
      ></textarea>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="submit"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="ros-eyes"
    />

    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="ros-breast"
    />
  </div>

  <script>
    $(function () {
      let existingData = getDataFromLocalStorage(
        (objName = "earsNoseThroat"),
        (parentObjName = "reviewOfSystems")
      );

      if (existingData) {
        Object.entries(existingData).forEach(([key, value]) => {
          // IF INPUT IS RADIO BUTTON
          if (key === "entNotes") {
            $("#entNotes").val(value);
            return;
          }

          let radios = $(`input[name=${key}`);

          $(radios).each(function () {
            let radioValue = $(this).prop("value");
            if (radioValue === value) {
              $(this).prop("checked", true);
            }
          });
        });
      }

      $("#ros-ent").on("submit", function () {
        let eyesROS = {};
        let cleanedData = cleanData($(this).serializeArray());

        saveDataToLocalstorage(
          (data = cleanedData),
          (objName = "earsNoseThroat"),
          (parentObjName = "reviewOfSystems")
        );
      });
    });
  </script>

  <script>
    $(".rosEye").on("submit", function () {
      let Eyes = {};

      let rosImpVisionYes = $("input[name='ImpVision']:checked");
      let rosPeriVis = $("input[name='periVis']:checked");
      let rosGlaucomaVis = $("input[name='glaucomaVis']:checked");
      let rosEyesNotes = $("#eyesNotes");

      Eyes[rosImpVisionYes.attr("name")] = rosImpVisionYes.val();
      Eyes[rosPeriVis.attr("name")] = rosPeriVis.val();
      Eyes[rosGlaucomaVis.attr("name")] = rosGlaucomaVis.val();
      Eyes[rosEyesNotes.attr("name")] = rosEyesNotes.val();

      console.log(Eyes);
    });
  </script>
</form>
