<form class="rosChest" id="ros-cardio" data-form-target="EMR">
  <div class="row mt-2">
    <h3 class="default-label col-12">ROS - Cardiovascular</h3>
  </div>

  <table class="table table-borderless" id="ros-cardiovascular-table">
    <thead>
      <tr align="middle">
        <th scope="col" width="10%">Yes</th>
        <th scope="col" width="10%">No</th>
        <th scope="col" width="50%">Condition</th>
      </tr>
    </thead>
    <tbody align="middle">
      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="chestPainsYes"
            name="chestPains"
            value="yes"
            aria-label="chestPainsYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="chestPainsNo"
            name="chestPains"
            value="no"
            aria-label="chestPainsNo"
            checked
          />
        </td>
        <td>Chest Pains</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="irregularHearbeatYes"
            name="irregularHeartbeat"
            value="yes"
            aria-label="irregularHearbeatYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="irregularHearbeatNo"
            name="irregularHeartbeat"
            value="no"
            aria-label="irregularHearbeatNo"
            checked
          />
        </td>
        <td>Irregular Heartbeat</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="chestShortofBreathYes"
            name="shortnessOfBreath"
            value="yes"
            aria-label="chestShortofBreathYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="chestShortofBreathNo"
            name="shortnessOfBreath"
            value="no"
            aria-label="chestShortofBreathNo"
            checked
          />
        </td>
        <td>Shortness of Breath</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="rapidHeartRateYes"
            name="rapidHeartRate"
            value="yes"
            aria-label="rapidHeartRateYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="rapidHeartRateNo"
            name="rapidHeartRate"
            value="no"
            aria-label="rapidHeartRateNo"
            checked
          />
        </td>
        <td>Rapid Heart Rate</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="swellofLimbsYes"
            name="swellingOfFeetAnklesOrHands"
            value="yes"
            aria-label="swellofLimbsYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="swellofLimbsNo"
            name="swellingOfFeetAnklesOrHands"
            value="no"
            aria-label="swellofLimbsNo"
            checked
          />
        </td>
        <td>Swelling of Feet, Ankles, or Hands</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="varicoseVeinsYes"
            name="varicoseVeins"
            value="yes"
            aria-label="varicoseVeinsYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="varicoseVeinsNo"
            name="varicoseVeins"
            value="no"
            aria-label="varicoseVeinsNo"
            checked
          />
        </td>
        <td>Varicose Veins</td>
      </tr>
    </tbody>
  </table>

  <div class="row mt-3">
    <div class="form-group col-12">
      <label for="cardioNotes" class="form-label" id="cardioNotesLabel"
        >Notes</label
      >
      <textarea
        class="form-control"
        id="cardioNotes"
        name="cardioNotes"
        rows="5"
      ></textarea>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="submit"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="ros-breast"
    />

    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="ros-respiratory"
    />
  </div>

  <script>
    $(function () {
      let existingData = getDataFromLocalStorage(
        (objName = "cardiovascular"),
        (parentObjName = "reviewOfSystems")
      );

      if (existingData) {
        Object.entries(existingData).forEach(([key, value]) => {
          // IF INPUT IS RADIO BUTTON
          if (key === "cardioNotes") {
            $("#cardioNotes").val(value);
            return;
          }

          let radios = $(`input[name=${key}`);

          $(radios).each(function () {
            let radioValue = $(this).prop("value");
            if (radioValue === value) {
              $(this).prop("checked", true);
            }
          });
        });
      }

      $("#ros-cardio").on("submit", function () {
        let cleanedData = cleanData($(this).serializeArray());

        saveDataToLocalstorage(
          (data = cleanedData),
          (objName = "cardiovascular"),
          (parentObjName = "reviewOfSystems")
        );
      });
    });
  </script>
</form>
