<!-- <form class="rosGastro">
  <div class="row mt-2">
    <h3 class="default-label col-12">ROS - Gastrointestinal</h3>
  </div>

  <div class="row">
    <label class="default-label col-1 mt-4">Yes</label>
    <label class="default-label col-1 mt-4">No</label>
  </div>

  <div class="row mt-3">
    <div class="form-check form-check-inline col-1 ms-3 me-0">
      <input
        class="form-check-input"
        type="radio"
        id="lossofApetiteYes"
        name="lossofAppetite"
        value="Yes"
        aria-label="lossofApetiteYes"
      />
    </div>

    <div class="form-check form-check-inline col-1">
      <input
        class="form-check-input"
        type="radio"
        id="lossofApetiteNo"
        name="lossofAppetite"
        value="No"
        aria-label="lossofApetiteNo"
        checked
      />
    </div>

    <label class="default-label col-4">Loss of Apetite</label>
  </div>

  <div class="row mt-2">
    <div class="form-check form-check-inline col-1 ms-3 me-0">
      <input
        class="form-check-input"
        type="radio"
        id="abdominalPainYes"
        name="abdominalPain"
        value="Yes"
        aria-label="abdominalPainYes"
      />
    </div>

    <div class="form-check form-check-inline col-1">
      <input
        class="form-check-input"
        type="radio"
        id="abdominalPainNo"
        name="abdominalPain"
        value="No"
        aria-label="abdominalPainNo"
        checked
      />
    </div>

    <label class="default-label col-3">Abdominal Pain</label>
  </div>

  <div class="row mt-2">
    <div class="form-check form-check-inline col-1 ms-3 me-0">
      <input
        class="form-check-input"
        type="radio"
        id="changeBowelYes"
        name="changeBowel"
        value="Yes"
        aria-label="changeBowelYes"
      />
    </div>

    <div class="form-check form-check-inline col-1">
      <input
        class="form-check-input"
        type="radio"
        id="changeBowelNo"
        name="changeBowel"
        value="No"
        aria-label="changeBowelNo"
        checked
      />
    </div>

    <label class="default-label col-4">Change in bowel movements</label>
  </div>

  <div class="row mt-2">
    <div class="form-check form-check-inline col-1 ms-3 me-0">
      <input
        class="form-check-input"
        type="radio"
        id="nauseaYes"
        name="nausea"
        value="Yes"
        aria-label="nauseaYes"
      />
    </div>

    <div class="form-check form-check-inline col-1">
      <input
        class="form-check-input"
        type="radio"
        id="nauseaNo"
        name="nausea"
        value="No"
        aria-label="nauseaNo"
        checked
      />
    </div>

    <label class="default-label col-3">Nausea</label>
  </div>

  <div class="row mt-2">
    <div class="form-check form-check-inline col-1 ms-3 me-0">
      <input
        class="form-check-input"
        type="radio"
        id="vomitingYes"
        name="vomiting"
        value="Yes"
        aria-label="vomitingYes"
      />
    </div>

    <div class="form-check form-check-inline col-1">
      <input
        class="form-check-input"
        type="radio"
        id="vomitingNo"
        name="vomiting"
        value="No"
        aria-label="vomitingNo"
        checked
      />
    </div>

    <label class="default-label col-3">Vomiting</label>
  </div>

  <div class="row mt-2">
    <div class="form-check form-check-inline col-1 ms-3 me-0">
      <input
        class="form-check-input"
        type="radio"
        id="diarrheaYes"
        name="diarrhea"
        value="Yes"
        aria-label="diarrheaYes"
      />
    </div>

    <div class="form-check form-check-inline col-1">
      <input
        class="form-check-input"
        type="radio"
        id="diarrheaNo"
        name="diarrhea"
        value="No"
        aria-label="diarrheaNo"
        checked
      />
    </div>

    <label class="default-label col-3">Diarrhea</label>
  </div>

  <div class="row mt-2">
    <div class="form-check form-check-inline col-1 ms-3 me-0">
      <input
        class="form-check-input"
        type="radio"
        id="constipationYes"
        name="constipation"
        value="Yes"
        aria-label="constipationYes"
      />
    </div>

    <div class="form-check form-check-inline col-1">
      <input
        class="form-check-input"
        type="radio"
        id="constipationNo"
        name="constipation"
        value="No"
        aria-label="constipationNo"
        checked
      />
    </div>

    <label class="default-label col-3">Constipation</label>
  </div>

  <div class="row mt-2">
    <div class="form-check form-check-inline col-1 ms-3 me-0">
      <input
        class="form-check-input"
        type="radio"
        id="unableStoolRestrainYes"
        name="unableStoolRestrain"
        value="Yes"
        aria-label="unableStoolRestrainYes"
      />
    </div>

    <div class="form-check form-check-inline col-1">
      <input
        class="form-check-input"
        type="radio"
        id="unableStoolRestrainNo"
        name="unableStoolRestrain"
        value="No"
        aria-label="unableStoolRestrainNo"
        checked
      />
    </div>

    <label class="default-label col-3">Unable to restrain stools</label>
  </div>

  <div class="row mt-2">
    <div class="form-check form-check-inline col-1 ms-3 me-0">
      <input
        class="form-check-input"
        type="radio"
        id="bloodwithBowelYes"
        name="bloodwithBowel"
        value="Yes"
        aria-label="bloodwithBowelYes"
      />
    </div>

    <div class="form-check form-check-inline col-1">
      <input
        class="form-check-input"
        type="radio"
        id="bloodwithBowelNo"
        name="bloodwithBowel"
        value="No"
        aria-label="bloodwithBowelNo"
        checked
      />
    </div>

    <label class="default-label col-4">Blood with bowel movement</label>
  </div>

  <div class="row mt-2">
    <div class="form-check form-check-inline col-1 ms-3 me-0">
      <input
        class="form-check-input"
        type="radio"
        id="heartburnYes"
        name="heartburn"
        value="Yes"
        aria-label="heartburnYes"
      />
    </div>

    <div class="form-check form-check-inline col-1">
      <input
        class="form-check-input"
        type="radio"
        id="heartburnNo"
        name="heartburn"
        value="No"
        aria-label="heartburnNo"
        checked
      />
    </div>

    <label class="default-label col-3">Heartburn</label>
  </div>

  <div class="row mt-2">
    <div class="form-check form-check-inline col-1 ms-3 me-0">
      <input
        class="form-check-input"
        type="radio"
        id="polypsYes"
        name="polyps"
        value="Yes"
        aria-label="polypsYes"
      />
    </div>

    <div class="form-check form-check-inline col-1">
      <input
        class="form-check-input"
        type="radio"
        id="polypsNo"
        name="polyps"
        value="No"
        aria-label="polypsNo"
        checked
      />
    </div>

    <label class="default-label col-3">Polyps</label>
  </div>

  <div class="row mt-3">
    <div class="form-group col-12">
      <label for="gastroROSNotes" class="form-label" id="gastroROSNotesLabel"
        >Notes</label
      >
      <textarea
        class="form-control"
        id="gastroROSNotes"
        name="gastroROSNotes"
        rows="5"
      ></textarea>
    </div>
  </div>
</form> -->

<form class="rosGastro" id="ros-gastro" data-form-target="EMR">
  <div class="row mt-2">
    <h3 class="default-label col-12">ROS - Gastrointestinal</h3>
  </div>

  <table class="table table-borderless" id="ros-gastrointestinal-table">
    <thead>
      <tr align="middle">
        <th scope="col" width="10%">Yes</th>
        <th scope="col" width="10%">No</th>
        <th scope="col" width="50%">Condition</th>
      </tr>
    </thead>
    <tbody align="middle">
      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="lossofApetiteYes"
            name="lossofAppetite"
            value="yes"
            aria-label="lossofApetiteYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="lossofApetiteNo"
            name="lossofAppetite"
            value="no"
            aria-label="lossofApetiteNo"
            checked
          />
        </td>
        <td>Loss of Apetite</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="abdominalPainYes"
            name="abdominalPain"
            value="yes"
            aria-label="abdominalPainYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="abdominalPainNo"
            name="abdominalPain"
            value="no"
            aria-label="abdominalPainNo"
            checked
          />
        </td>
        <td>Abdominal Pain</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="changeBowelYes"
            name="changeBowel"
            value="yes"
            aria-label="changeBowelYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="changeBowelNo"
            name="changeBowel"
            value="no"
            aria-label="changeBowelNo"
            checked
          />
        </td>
        <td>Change in bowel movements</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="nauseaYes"
            name="nausea"
            value="yes"
            aria-label="nauseaYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="nauseaNo"
            name="nausea"
            value="no"
            aria-label="nauseaNo"
            checked
          />
        </td>
        <td>Nausea</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="vomitingYes"
            name="vomiting"
            value="yes"
            aria-label="vomitingYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="vomitingNo"
            name="vomiting"
            value="no"
            aria-label="vomitingNo"
            checked
          />
        </td>
        <td>Vomiting</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="diarrheaYes"
            name="diarrhea"
            value="yes"
            aria-label="diarrheaYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="diarrheaNo"
            name="diarrhea"
            value="no"
            aria-label="diarrheaNo"
            checked
          />
        </td>
        <td>Diarrhea</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="constipationYes"
            name="constipation"
            value="yes"
            aria-label="constipationYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="constipationNo"
            name="constipation"
            value="no"
            aria-label="constipationNo"
            checked
          />
        </td>
        <td>Constipation</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="unableStoolRestrainYes"
            name="unableStoolRestrain"
            value="yes"
            aria-label="unableStoolRestrainYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="unableStoolRestrainNo"
            name="unableStoolRestrain"
            value="no"
            aria-label="unableStoolRestrainNo"
            checked
          />
        </td>
        <td>Unable to restrain stools</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="bloodwithBowelYes"
            name="bloodwithBowel"
            value="yes"
            aria-label="bloodwithBowelYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="bloodwithBowelNo"
            name="bloodwithBowel"
            value="no"
            aria-label="bloodwithBowelNo"
            checked
          />
        </td>
        <td>Blood with bowel movement</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="heartburnYes"
            name="heartburn"
            value="yes"
            aria-label="heartburnYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="heartburnNo"
            name="heartburn"
            value="no"
            aria-label="heartburnNo"
            checked
          />
        </td>
        <td>Heartburn</td>
      </tr>

      <tr>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="polypsYes"
            name="polyps"
            value="yes"
            aria-label="polypsYes"
          />
        </td>
        <td>
          <input
            class="form-check-input"
            type="radio"
            id="polypsNo"
            name="polyps"
            value="no"
            aria-label="polypsNo"
            checked
          />
        </td>
        <td>Polyps</td>
      </tr>
    </tbody>
  </table>

  <div class="row mt-3">
    <div class="form-group col-12">
      <label for="gastroNotes" class="form-label" id="gastroNotesLabel"
        >Notes</label
      >
      <textarea
        class="form-control"
        id="gastroNotes"
        name="gastroNotes"
        rows="5"
      ></textarea>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-3 w-100">
    <input
      type="submit"
      class="btn btn-custom-tertiary emr-prev-btn px-5"
      value="Previous"
      data-next-page="ros-respiratory"
    />

    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="ros-urinary-reproductive"
    />
  </div>

  <script>
    $(function () {
      let existingData = getDataFromLocalStorage(
        (objName = "gastrointestinal"),
        (parentObjName = "reviewOfSystems")
      );

      if (existingData) {
        Object.entries(existingData).forEach(([key, value]) => {
          // IF INPUT IS RADIO BUTTON
          if (key === "gastroNotes") {
            $("#gastroNotes").val(value);
            return;
          }

          let radios = $(`input[name=${key}`);

          $(radios).each(function () {
            let radioValue = $(this).prop("value");
            if (radioValue === value) {
              $(this).prop("checked", true);
            }
          });
        });
      }

      $("#ros-gastro").on("submit", function () {
        let cleanedData = cleanData($(this).serializeArray());

        saveDataToLocalstorage(
          (data = cleanedData),
          (objName = "gastrointestinal"),
          (parentObjName = "reviewOfSystems")
        );
      });
    });
  </script>
</form>
