<form data-form-target="EMR">
  <div id="content">
    <div class="container-fluid bg-white p-4">
      <h5 class="mt-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          fill="currentColor"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          />
        </svg>
        Amazan, Wayne Andrew Chico
      </h5>
    </div>

    <div
      class="container bg-white p-4 rounded-2 border-3 border border-dark mb-3"
      style="max-width: 1400px"
      id="vital-signs"
    >
      <h3>
        Vital Signs
        <button type="button" class="btn btn-info ms-3" name="EditRatesButton">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </h3>
      <div></div>
    </div>

    <div
      class="container bg-white p-4 rounded-2 border-3 border border-dark mb-3"
      style="max-width: 1400px"
      id="HPI"
    >
      <h3>
        HPI & Notes
        <button type="button" class="btn btn-info ms-3" name="EditRatesButton">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </h3>
      <div></div>
    </div>

    <div
      class="container bg-white p-4 rounded-2 border-3 border border-dark mb-3"
      style="max-width: 1400px"
      id="ROS"
    >
      <h3>
        ROS<button
          type="button"
          class="btn btn-info ms-3"
          name="EditRatesButton"
        >
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </h3>
      <div></div>
    </div>

    <div
      class="container bg-white p-4 rounded-2 border-3 border border-dark mb-3"
      style="max-width: 1400px"
      id="patient-history"
    >
      <h3>
        Patient History<button
          type="button"
          class="btn btn-info ms-3"
          name="EditRatesButton"
        >
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </h3>
      <div></div>
    </div>

    <div
      class="container bg-white p-4 rounded-2 border-3 border border-dark mb-3"
      style="max-width: 1400px"
      id="physical-exam"
    >
      <h3>
        PE<button
          type="button"
          class="btn btn-info ms-3"
          name="EditRatesButton"
        >
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </h3>
      <p></p>
    </div>

    <div
      class="container bg-white p-4 rounded-2 border-3 border border-dark mb-3"
      style="max-width: 1400px"
    >
      <h3>
        Assessment<button
          type="button"
          class="btn btn-info ms-3"
          name="EditRatesButton"
        >
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </h3>
      <p></p>
    </div>

    <div
      class="container bg-white p-4 rounded-2 border-3 border border-dark mb-3"
      style="max-width: 1400px"
      id="laboratory"
    >
      <h3>
        Laboratory
        <button type="button" class="btn btn-info ms-3" name="EditRatesButton">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </h3>
      <p></p>
    </div>

    <div
      class="container bg-white p-4 rounded-2 border-3 border border-dark mb-3"
      style="max-width: 1400px"
      id="plan"
    >
      <h3>
        Plan
        <button type="button" class="btn btn-info ms-3" name="EditRatesButton">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </h3>
      <p></p>
    </div>
    <br />
  </div>
</form>

<script src="{{url_for('emr.static', filename='summary.js')}}"></script>
