<form id="vital-signs-form" data-form-target="EMR">
  <h3 class="default-label col-12">Vital Signs</h3>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="vitalHeight" class="form-label required">Height (in centimeters)</label>
      <input
        type="number"
        class="form-control"
        id="vitalHeight"
        name="height"
        min=100
        max=200
        required
      />
    </div>

    <div class="form-group col-md-4">
      <label for="vitalWeight" class="form-label required">Weight (in kilograms)</label>
      <input
        type="number"
        class="form-control"
        id="vitalWeight"
        name="weight"
        required
      />
    </div>

    <div class="form-group col-md-4">
      <label for="vitalBMI" class="form-label">BMI</label>
      <input
        type="number"
        class="form-control"
        id="vitalBMI"
        name="BMI"
        disabled
      />
    </div>
  </div>

  <div class="row mt-3">
    <div class="form-group col-md-4">
      <label for="vitalTemp" class="form-label required">Temperature (in Celcius)</label>
      <input
        type="number"
        class="form-control"
        id="vitalTemp"
        name="temperature"
        min="35"
        max="45"
        required
      />
    </div>

    <div class="form-group col-md-4">
      <label for="vitalSystolic" class="form-label required"
        >Blood Pressure</label
      >
      <div class="d-flex flex-row">
        <input
          type="number"
          class="form-control me-1"
          id="vitalSystolic"
          name="BPSystolic"
          value="70"
          min="70"
          max="190"
          required
        />
        <label class="default-label align-self-center">/</label>
        <input
          type="number"
          class="form-control ms-1"
          id="vitalDiastolic"
          name="BPDiastolic"
          value="40"
          min="40"
          max="100"
          required
        />
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="vitalRespRate" class="form-label required"
        >Respiratory Rate (BPM)</label
      >
      <input
        type="number"
        class="form-control"
        id="vitalRespRate"
        name="respirationRate"
        min="10"
        max="25"
        required
      />
    </div>
  </div>

  <div class="row mt-3">
    <div class="form-group col-md-4">
      <label for="vitalOxySat" class="form-label required"
        >Oxygen Saturation(%)</label
      >
      <input
        type="number"
        class="form-control"
        id="vitalOxySat"
        name="oxygenSaturation"
        min="80"
        max="100"
        required
      />
    </div>

    <div class="form-group col-md-4">
      <label for="vitalHeartRate" class="form-label required"
        >Heart Rate (Beats PM)</label
      >
      <input
        type="number"
        class="form-control"
        id="vitalHeartRate"
        name="heartRate"
        min="40"
        max="200"
        required
      />
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3 w-100">
    <input
      type="submit"
      class="btn btn-success btn-custom-primary px-5 emr-next-btn"
      value="Next"
      data-next-page="hpi"
    />
  </div>

  <script>
    $("#vitalHeight, #vitalWeight").on("change", function(){
      let heightInMeters = parseInt($("#vitalHeight").val()) / 100
      let weightInKg = parseInt($("#vitalWeight").val())
      let BMI = weightInKg / (heightInMeters * heightInMeters)
      $("#vitalBMI").val(BMI)
    })

    $("#vital-signs-form").on("submit", function(evt){
      evt.preventDefault();
      if($(this).valid()){
        let height = $('#vitalHeight').val();
        let weight = $('#vitalWeight').val();
        let BMI = $('#vitalBMI').val();
        let temp = $('#vitalTemp').val();
        let systolicBP = $('#vitalSystolic').val();
        let diastolicBP = $('#vitalDiastolic').val();
        let respiratoryRate = $('#vitalRespRate').val();
        let oxygenSaturation = $('#vitalOxySat').val();
        let heartRate = $('#vitalHeartRate').val();

        let vitalSigns = {
          height,
          weight,
          BMI,
          temp,
          BP: `${systolicBP}/${diastolicBP}`,
          respiratoryRate,
          oxygenSaturation,
          heartRate
        }
        console.log(vitalSigns)
      }
    })
    </script>
</form>
