<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.14.0/jquery.timepicker.min.css"
  integrity="sha512-WlaNl0+Upj44uL9cq9cgIWSobsjEOD1H7GK1Ny1gmwl43sO0QAUxVpvX2x+5iQz/C60J3+bM7V07aC/CNWt/Yw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<div
  class="d-flex container-xl flex-column custom-bg justify-content-center p-2 bd-highlight"
>
  <div class="bg-white p-3 mt-3 shadow">
    <div class="row row-2 row-md-12 mb-3">
      <div class="row">
        <h3 class="col-md-10">Doctor's Check-in Logs</h3>
        <button
          type="button"
          class="btn btn-primary col-md-4 col-lg-2"
          data-bs-toggle="modal"
          data-bs-target="#checkInModal"
        >
          Add New Check-In Log
        </button>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="table-responsive mt-3">
      <table class="table schedule-summary-table" style="overflow-x: auto">
        <thead>
          <tr class="align-middle">
            <th scope="col">Doctor's Name</th>
            <th scope="col">Date of Duty</th>
            <th scope="col">Time of Shift</th>
            <th scope="col">Arrival Time</th>
            <th scope="col" width="30%" style="white-space: nowrap">
              Current Arrival Status
            </th>
          </tr>
        </thead>

        <tbody>
          <tr></tr>
          <!-- <tr>
            <td>Wayne Chico Amazan</td>
            <td>08/21/2022</td>
            <td>8:00 AM - 2:00 PM</td>
            <td>Did Not Arrive</td>
            <td class="bg-danger">
              <span class="status-span">Absent</span>
            </td>
          </tr>
          <tr>
            <td>Dwayne Johnson</td>
            <td>08/21/2022</td>
            <td>2:00 PM - 10:00 PM</td>
            <td>2:30 PM</td>
            <td class="bg-warning">Late</td>
          </tr> -->
        </tbody>
      </table>

      <h3 class="mt-4 mb-3">Patient Logs</h3>

      <table class="table patient-summary-table" style="overflow-x: auto">
        <thead>
          <tr class="align-middle">
            <th scope="col">Date</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Age</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Status</th>
            <th scope="col">Follow-Up Date</th>
            <th scope="col">Remarks</th>
          </tr>
        </thead>

        <tbody>
          <!-- <tr>
            <td>08/21/2022</td>
            <td>Milllie Ramos</td>
            <td>34</td>
            <td>09338559604</td>
            <td>Regular Check-Up</td>
            <td>None</td>
            <td>Menstrual Cramps, allow for it to pass</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="checkInModal"
  tabindex="-1"
  aria-labelledby="checkInModalLabel"
  aria-hidden="true"
>
  <form id="checkInForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="checkInModalLabel">Add New Check-In</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-12">
              <label for="doctorName" class="form-label required"
                >Doctor's Name</label
              >
              <select
                class="form-select"
                name="doctorName"
                id="doctorName"
                required
              >
                <option value="">Select a doctor</option>
              </select>
            </div>
          </div>

          <div id="restOfForm">
            <div class="row mt-3">
              <div class="form-group col-12">
                <label for="shiftSched" class="form-label">Time of Shift</label>
                <input
                  type="text"
                  class="form-control timepicker"
                  id="shiftSched"
                  name="shiftSched"
                  disabled
                />
              </div>
            </div>

            <div class="row mt-3">
              <div class="form-group col-12">
                <label for="arriveStatus" class="form-label"
                  >Current Arrival Status</label
                >
                <select
                  class="form-select"
                  id="arrivalStatus"
                  name="arrivalStatus"
                  required
                >
                  <!-- <option value="" selected>Select option</option>
                  <option value="On Time">On-Time</option>
                  <option value="Late">Late</option>
                  <option value="Absent">Absent</option> -->
                </select>
              </div>
            </div>

            <div class="row mt-3" id="arrivalTimeContainer">
              <div class="form-group col-12">
                <label for="arrivalTime" class="form-label">Arrival Time</label>
                <input
                  type="text"
                  class="form-control timepicker"
                  id="arrivalTime"
                  name="arrivalTime"
                  readonly
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-success" id="checkIn-btn">
            Check-In
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.14.0/jquery.timepicker.min.js"
  integrity="sha512-s0SB4i9ezk9SRyV1Glrj/w5xS5ExSxXiN44fQeV9GYOtExbVWnC+mUsUyZdIYv6qXL0xe1qvpe0h1kk56gsgaA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script src="{{url_for('secretary.static', filename='requestHelpers.js')}}"></script>
<script src="{{url_for('secretary.static', filename='checkInLogs.js')}}"></script>
<script src="{{url_for('secretary.static', filename='patientLogs.js')}}"></script>
