<div class="accordion" id="faqAccordion">
  <h1 class="mt-3">First Timer?</h1>

  {% for item in content %}
  <!-- <div class="border border-dark card mb-3">
        <div class="card-header" id="heading-{{loop.index}}">
            <h2 class="clearfix mb-0">
                <a class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{loop.index}}" aria-expanded="true" aria-controls="collapse-{{loop.index}}">{{item.title}}<i class="material-icons">add</i></a>									
            </h2>
        </div>
        <div id="collapse-{{loop.index}}" class="collapse" aria-labelledby="heading-{{loop.index}}" data-parent="#accordionExample">
            <div class="card-body">{{item.body}}</div>
        </div>
    </div> -->

  <div class="accordion-item mb-3">
    <div class="border border-dark card">
      <h2 class="accordion-header" id="heading-{{item.idx}}">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-{{item.idx}}"
          aria-expanded="true"
          aria-controls="collapse-{{item.idx}}"
        >
          <strong>{{item.title}}</strong>
        </button>
      </h2>
      <div
        id="collapse-{{item.idx}}"
        class="accordion-collapse collapse"
        aria-labelledby="heading-{{item.idx}}"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body fs-5 pt-0">{{item.body}}</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
