<div class="p-3 m-md-2 mt-4 mt-md-4 shadow-lg" id="home-appt">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="">Appointments</h1>
    <div class="add-btn-ctr">
      <span class="me-3 d-none d-md-inline">Create New Appointment</span>
      <button
        class="btn btn-lg btn-success rounded-circle"
        id="new-appointment-btn"
      >
        +
      </button>
    </div>
  </div>

  <table
    class="table table-striped table-md-responsive text-nowrap"
    id="appointments-table"
  >
    <thead style="background-color: rgba(0, 0, 0, 0.05)">
      <tr style="line-height: 40px">
        <th scope="col" class="text-center">Ref ID</th>
        <th scope="col" class="text-center">Practitioner</th>
        <th scope="col" class="text-center">Schedule Date</th>
        <th scope="col" class="text-center">Time</th>
        <th scope="col" class="text-center">Status</th>
        <!-- <th scope="col">Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade modal-lg"
  id="cancelApptModal"
  tabindex="-1"
  aria-labelledby="cancelApptModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelApptModalLabel">Confirmation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <p class="mb-0 cancellation-number"></p>
          <!-- <br /> -->
          <span class="text-muted"
            >Note: This will be immediately cancelled.</span
          >
        </div>

        <div class="form-group mt-3">
          <label for="cancelReason" class="form-label"
            >Reason (optional):</label
          >

          <textarea
            class="form-control"
            name="cancelReason"
            id="cancelReason"
            cols="30"
            rows="5"
          ></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          No
        </button>
        <button
          type="button"
          class="btn btn-success"
          id="confirm-cancel-appointment-btn"
        >
          Yes, cancel it
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Existing Appointment Modal -->
<div
  class="modal fade"
  id="existingAppointmentModal"
  tabindex="-1"
  aria-labelledby="existingAppointmentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold">Attention</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Rejection Summary Modal -->
<div
  class="modal fade"
  id="rejectSummaryModal"
  tabindex="-1"
  aria-labelledby="rejectSummaryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rejectSummaryModalLabel">Information</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('patient.static', filename='js/appointment/home-appointment.js') }}"></script>
<script src="{{ url_for('patient.static', filename='js/appointment/cancel-appointment.js') }}"></script>
