{% extends "base.html" %}

{% block content %}
<!-- <div class="container-fluid full-page bg-gray d-flex justify-content-center align-items-center">
    <div class="success-card-ctr card bg-primary">
        <h1 class="text-center">Success!</h1>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div> -->
<div class="wrapper bg-custom-primary">
    
        
    <div class="card" style="width: 20rem; height: 25rem">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
        <div class="card-body">
            <h2 class="card-text text-center mb-5">Successfully Registered!</h2>
            <a href="/patient/login" class="d-block text-center fs-5">Go back to login</a>
        </div>
        </div>
    
        
</svg>
</div>

{% endblock %}